@model IEnumerable<Citations.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articletittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticletittleEn)
            </th>
     
            <th>
                @Html.DisplayNameFor(model => model.BriefQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BriefQuoteEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCitations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfReferences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articletittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticletittleEn)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.BriefQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BriefQuoteEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCitations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfReferences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.Articleid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Articleid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Articleid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
