@model Citations.Models.Institution

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Institution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScannedCoverImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScannedCoverImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScannedLogoImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScannedLogoImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpactFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpactFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointerH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointerH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCitations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCitations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNavigation.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfInstitutionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfInstitutionNavigation.TypeName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Institutionid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
