@model Citations.Models.ConferenceProceeding

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConferenceProceeding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conferencetittle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conferencetittle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConferencePublicationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConferencePublicationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Conferenceid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
