@model IEnumerable<Citations.Models.ConferenceProceeding>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Conferencetittle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConferencePublicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conferencetittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferencePublicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Conferenceid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Conferenceid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Conferenceid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
