@model IEnumerable<Citations.Models.FacultyInstitution>

@{
    ViewData["Title"] = "Index";
}

 

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacultyInstitutionid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacultyInstitutionid">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.FacultyInstitutionid">Delete</a>|*@
                <a asp-action="index" asp-controller="facultyinstitutiondepartments" asp-route-id="@item.FacultyInstitutionid">Departments</a>
            </td>
        </tr>
}
    </tbody>
</table>
