@model Citations.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<head>

    <style>


        body {
            background: #F1F3FA;
        }

        /* Profile container */
        .profile {
        }

        /* Profile sidebar */
        .profile-sidebar {
            background: #fff;
        }

        .profile-userpic img {
            float: none;
            margin: 5% 10% 10% 30%;
            width: 20%;
            height: 160px;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
        }

        .profile-usertitle {
            text-align: center;
            margin-top: 20px;
        }

        .profile-usertitle-name {
            color: #5a7391;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 7px;
        }

        .profile-usertitle-job {
            text-transform: uppercase;
            color: #5b9bd1;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .profile-userbuttons {
            text-align: center;
            margin-top: 10px;
        }

            .profile-userbuttons .btn {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 600;
                padding: 6px 15px;
                margin-right: 5px;
            }

                .profile-userbuttons .btn:last-child {
                    margin-right: 0px;
                }

        .profile-usermenu {
            margin-top: 30px;
        }

            .profile-usermenu ul li {
                border-bottom: 1px solid #f0f4f7;
            }

                .profile-usermenu ul li:last-child {
                    border-bottom: none;
                }

                .profile-usermenu ul li a {
                    color: #93a3b5;
                    font-size: 14px;
                    font-weight: 400;
                }

                    .profile-usermenu ul li a i {
                        margin-right: 8px;
                        font-size: 14px;
                    }

                    .profile-usermenu ul li a:hover {
                        background-color: #fafcfd;
                        color: #5b9bd1;
                    }

                .profile-usermenu ul li.active {
                    border-bottom: none;
                }

                    .profile-usermenu ul li.active a {
                        color: #5b9bd1;
                        background-color: #f6f9fb;
                        border-left: 2px solid #5b9bd1;
                        margin-left: -2px;
                    }

        /* Profile Content */
        .profile-content {
            padding: 20px;
            background: #fff;
            min-height: 460px;
        }
    </style>
</head>


    <div class="container">
        <div class="row profile">
            <div class="col-md-10">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                  
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
               
                        </div>
              <dl class=" row">
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                          <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                          <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Address)
                            </dd>

                            @if (Model.TypeOfPublisherNavigation != null)
                            {
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.TypeOfPublisherNavigation.TypeName)
                                </dt>
                              <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.TypeOfPublisherNavigation.TypeName)
                                </dd>
                            }
                            @if (Model.TypeOfPublisherNavigation == null)
                            {
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.TypeOfPublisherNavigation.TypeName)
                                </dt>
                              <dd class = "col-sm-10">
                                    @Html.DisplayName("مؤسسة")
                                </dd>
                            }
                            @if (Model.Institution != null)
                            {
                                <dt class = "col-sm-2">
                                    @Html.DisplayNameFor(model => model.Institution.Name)
                                </dt>
                              <dd class = "col-sm-10">
                                    @Html.DisplayFor(model => model.Institution.Name)
                                </dd>
                            }
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Active)
                            </dt>
                          <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Active)
                            </dd>
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.CountryNavigation)
                            </dt>
                          <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.CountryNavigation.Name)
                            </dd>
                        </dl>
                        <div class="profile-usertitle-job">
                            @*Developer*@
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        @*<button type="button" class="btn btn-success btn-sm">Follow</button>
                            <button type="button" class="btn btn-danger btn-sm">Message</button>*@
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Overview
                                </a>
                            </li>
                            <li>
                                <a asp-action="edit" asp-route-id="@Model.Publisherid">
                                    <i class="glyphicon glyphicon-user"></i>
                                     Settings
                                </a>
                            </li>

                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>

        </div>
    </div>

<div>
   
    <a asp-action="Index">Back to List</a>
</div>
