@model Citations.Models.Magazine

@{
    ViewData["Title"] = "Create";
}

<h5>إنشاء مجلة جديدة</h5>
<hr />
<div id="placeholder"></div>
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="IssnOnline" class="control-label"></label>
                    <input asp-for="IssnOnline" class="form-control" />
                    <span asp-validation-for="IssnOnline" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="IssnPrint" class="control-label"></label>
                    <input asp-for="IssnPrint" class="form-control" />
                    <span asp-validation-for="IssnPrint" class="text-danger"></span>
                </div>
            </div>
         
            <div class="row">
                <div class="form-group col-sm-4">
                    <label asp-for="WebsiteUrl" class="control-label"></label>
                    <input asp-for="WebsiteUrl" class="form-control" />
                    <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Institutionid" class="control-label"></label>
                    <select asp-for="Institutionid" class="form-control" asp-items="ViewBag.Institutionid"></select>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Publisherid" class="control-label"></label>
                    <select asp-for="Publisherid" class="form-control" asp-items="ViewBag.Publisherid"></select>
                </div>
            </div>
                @*<div class="form-group">
                <label class="control-label">مجالات البحث</label>
                <br />
                @foreach (var item in ViewBag.ResearchFields)
                {
                    <input type="checkbox" value="@item.Fieldid" name="Field" /> @item.Name
                    <br />
                }
            </div>*@
                <div class="form-group">

                    <label class="control-label">مجالات البحث</label>
                    @*Normal DropDown
                @Html.DropDownListFor(model => model.SelectedEmployeeIDs, new SelectList(Model.EmployeeCollection, "EmployeeID", "Name"), new { id = "normalDropDown" })
                    *@
                    @*MultiSelect DropDown*@
                    <select asp-for="ResearchFields" asp-items="ViewBag.Fieldid" size="5" multiple="multiple" class="form-control" , new { id="multiSelectDropDown" }></select>

                </div>
                @*<div class="form-group">
                <div class="demo">
                    <label class="control-label"> مجالات البحث</label>
                    <select name="ResarchFields" class="form-control" asp-items="ViewBag.Fieldid" multiple="multiple" required></select>
                </div>
            </div>*@
                <div class="form-group">
                    <label class="control-label">اضافة مجالات بحث  </label>
                    <table class="table">
                        <tr>
                            <td> الاسم العربي</td>
                            <td>الاسم الانجليزي</td>

                            <td>&nbsp;</td>
                        </tr>
                        <tr class="researchcontainer" id="researchrow">
                            <td>


                                <input type="text" id="newarResarchFields" class="form-control" />
                            </td>
                            <td>
                                <input type="text" id="newenResarchFields" class="form-control" />
                            </td>
                            <td>
                                <input type="button" id="addResarchFields" class="btn btn-outline-success" value="اضافه" />
                            </td>
                        </tr>
                    </table>

                </div>

                <div id="orderItems" class="table-responsive">
                    <table class="table table-bordered table-striped mb-0" id="researchdetails"></table>
                    <span id="orderItemError" style="color:red"></span>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" checked="checked" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
               </div>
                <div class="form-group">
                    <input type="submit" value="إضافة" class="btn btn-primary" />
                </div>
                <script src="~/js/ShamsScripts.js"></script>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
                <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                
                <script type="text/javascript">

                </script>
                <style>
                    span.error {
                        display: block;
                        visibility: hidden;
                        color: red;
                        font-size: 90%;
                    }

                    tr.error {
                        background-color: rgba(255,0,0,0.35);
                    }
                </style>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة للمجلات</a>
</div>

<link href="~/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css" rel="stylesheet" />
<script src="~/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js"></script>
<script>
   
    
    $('.demo').dropdown({
        multipleMode: 'label',
        input: '<input type="text" maxLength="20" placeholder="ابحث">',
        searchNoData: '<li style="color:red">No Results</li>',
        includeSelectAllOption: true,
        choice: function (val) {

        },
        minCount: 1,

        minCountErrorMessage: ' Required At least 1 field',



 
   



    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/jquery/dist/chosen.jquery.min.js"></script>*@
    <script>
        $(function () {


            //multiselect DropDown
            $("#multiSelectDropDown").chosen({
                width: "100%"
            });
        });
        //$(function () {

        //    var placeholderElement = $('#placeholder');
        //    $('button[data-toggle="ajax-modal"]').click(function (event) {
        //        var url = $(this).data('url');
        //        $.get(url).done(function (data) {

        //            placeholderElement.html(data);
        //            placeholderElement.find('.modal').modal('show');
        //        })
        //    })
        //    placeholderElement.on('click', '[data-save="modal"]', function (event) {

        //            var form = $(this).parents('.modal').find('form');
        //            var actionUrl = form.attr('action');
        //            var sendData = form.serialize();
        //            $.post(actionUrl, sendData).done(function (event) {
        //                placeholderElement.find('.modal').modal('hide');
        //            })

                //$(document).ready(function () {-->
                @*var url2 = '@Url.Content("~/")' + "Magazines/researchfields";
                $.getJSON(url2, function (data) {
                    var items = '';
                    $("#ResearchFields").empty();
                    $.each(data, function (index, row) {
                        items += "<option value='" + row.Fieldid + "'>" + row.Name + "</option>";
                    });
                    $("#ResearchFields").html(items);
                })*@
                    //$.get("/Magazines/researchfields", function (event) {
                    //    $("#ResearchFields").empty();
                    //    $.each(data, function (index, row) {
                    //        $("#ResearchFields").append("<option value='" + row.Fieldid + "'>" + row.Name + "</option>")
                    //    });
                    //});
        //        //})
        //    })
        //});
    </script>



}
