@*@model IEnumerable<Citations.Models.Magazine>*@
@model PaginatedList<Citations.Models.Magazine>
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/settingsstile.css" rel="stylesheet" />
<h1 class="m-2">المجلات</h1>


<div class="col-sm-3">
    <a asp-action="Create" class="btn btn-grad">اضافة مجلة جديده</a>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions row">

        <div class="col-sm-9">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="بحث باسم المجله" aria-label="Search"
                       aria-describedby="search-addon" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <button type="submit" class="btn btn-outline-primary">بحث</button>
            </div>
        </div>
        <div class="col-sm-3">
            <a asp-action="Index">الرجوع الي القائمة</a>
        </div>
    </div>

</form>
<hr />
<div class="table-responsive">
    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th>
                    الاسم
                </th>
                <th>
                    issn online
                </th>
                <th>
                    issn print
                </th>
                <th>
                    نشط
                </th>
                <th>
                    المؤسسة
                </th>

                <th>
                    التفاصيل
                </th>
                <th>
                    تعديل
                </th>
                <th>
                    اعداد المجله
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssnOnline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssnPrint)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.WebsiteUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImpactFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImmediateCoefficient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppropriateValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfCitations)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Name)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Magazineid" class="btn btn-info mr-2 eda">التفاصيل</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Magazineid" class="btn btn-primary mr-2 eda">تعديل</a>
                </td>

                <td>
                    <a asp-action="Index" asp-controller="MagazineIssues" class="btn btn-secondary mr-2 eda" asp-route-id="@item.Magazineid">عرض أعداد المجلة </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    السابق
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    التالي
</a>

