@model Citations.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h5>تفاصيل المقال</h5>
<hr />
<div class="row">
    <div class="col-sm-12">
        <input asp-for="Articleid" class="form-control" id="id" style="display:none" />
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="Articletittle" class="control-label"></label>
            </div>
            <div class="col-sm-12">
                <textarea style="width:80%;" asp-for="Articletittle" id="Articletittle" rows="2" readonly></textarea>
            </div>
            <div class="col-sm-12">
                <span asp-validation-for="Articletittle" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label asp-for="ArticletittleEn" class="control-label"></label>
            </div>
            <div class="col-sm-12">
                <textarea style="width:80%;" asp-for="ArticletittleEn" id="ArticletittleEn" rows="2" readonly></textarea>
            </div>
            <div class="col-sm-12">
                <span asp-validation-for="ArticletittleEn" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label asp-for="BriefQuote" class="control-label"></label>
            </div>
            <div class="col-sm-12">
                <textarea style="width:80%;" asp-for="BriefQuote" id="BriefQuote" rows="2" readonly></textarea>

            </div>
            <div class="col-sm-12">
                <span asp-validation-for="BriefQuote" class="text-danger"></span>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <label asp-for="BriefQuoteEn" class="control-label"></label>
            </div>
            <div class="col-sm-12">
                <textarea style="width:80%;" asp-for="BriefQuoteEn" id="BriefQuoteEn" rows="2" readonly></textarea>

            </div>
            <div class="col-sm-12">
                <span asp-validation-for="BriefQuoteEn" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label asp-for="NumberOfCitations" class="control-label"></label>
                <input asp-for="NumberOfCitations" id="NumberOfCitations" class="form-control" readonly />
                <span asp-validation-for="NumberOfCitations" class="text-danger"></span>
            </div>

            <div class="col-sm-6">
                <label asp-for="NumberOfReferences" class="control-label"></label>
                <input asp-for="NumberOfReferences" id="NumberOfReferences" class="form-control" readonly />
                <span asp-validation-for="NumberOfReferences" class="text-danger"></span>
            </div>
        </div>
        <br />
        @*<div class="form-group">
                <label asp-for="ArticleIssue" class="control-label"></label>
                <select asp-for="ArticleIssue" class="form-control" asp-items="ViewBag.ArticleIssue"></select>
                <span asp-validation-for="ArticleIssue" class="text-danger"></span>

            </div>*@
        @if (Model.KeyWords.Count() != 0)
        {
    <div class="form-group">
        الكلمات الداله
        <select asp-for="KeyWords" asp-items="ViewBag.key" id="multiSelectDropDown" class="form-control" multiple="multiple" disabled></select>
    </div>
        }
        @if (Model.ArticleIssue != 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <tr>
                        <th>المؤسسة</th>
                        <th>المجله</th>
                        <th>العدد</th>
                        <th>اصدار العدد</th>
                    </tr>
                    <tr class="mycontainers2" id="mainrows2">
                        <td style="text-align:center">

                            <select style="width:100%;" class="pcs2 form-control" asp-items="ViewBag.institution" asp-for="@Model.ArticleIssueNavigation.MagazineIssue.Magazine.Institutionid" disabled>
                            </select>

                        </td>
                        <td style="text-align:center">
                            <select style="width:100%;" class="products form-control" disabled>
                                <option value="@Model.ArticleIssueNavigation.MagazineIssue.Magazineid">@Model.ArticleIssueNavigation.MagazineIssue.Magazine.Name</option>
                            </select>
                        </td>

                        <td style="text-align:center">
                            <select style="width:100%;" class="products2 form-control" disabled>
                                <option value="@Model.ArticleIssueNavigation.MagazineIssue.Issueid">@Model.ArticleIssueNavigation.MagazineIssue.Issuenumber</option>
                            </select>
                        </td>

                        <td style="text-align:center">
                            <select style="width:100%;" class="products3 form-control" disabled>
                                <option value="@Model.ArticleIssueNavigation.IssueOfIssueid">@Model.ArticleIssueNavigation.IssuenumberOfIssue</option>
                            </select>
                        </td>


                    </tr>
                </table>


                @*<select asp-for="ArticleIssue" class="form-control" asp-items="ViewBag.ArticleIssue"></select>*@
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label asp-for="Page" class="control-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Page" class="form-control" id="ArticlePage" readonly />
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="Page" class="text-danger"></span>
                </div>
            </div>

            <hr />
        }

        @if (Model.ArticleAuthores.Count() != 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <tr>
                        <th>المؤلف</th>
                        <th>المؤلف الاساسي ؟</th>

                    </tr>
                    @foreach (var x in Model.ArticleAuthores)
                    {
                        <tr class="mycontainers bg-success">
                            <td style="text-align:center">
                                <select class="pcs rounded" style="width:100%">
                                    <option value="@x.Authorid">@x.Author.Name</option>
                                </select>
                            </td>
                            <td>
                                <input type="radio" name="mas" class="mas" @(Html.Raw(x.MainAuthor ? "checked=\"checked\"" : ""))>
                            </td>

                        </tr>
                    }
                </table>
            </div>
        }



        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Active" disabled />  نشط
            </label>
        </div>


    </div>
</div>

@if (Model.ArticleReferenceArticles.Count() != 0)
{
    <h3>المصادر</h3>
    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <tr>
                <th>
                    المصدر
                </th>

            </tr>
            @foreach (var item in Model.ArticleReferenceArticles)
            {
        <tr>
            @if (item.Articleref != null)
            {
                <td>@item.Articleref.Articletittle </td>
            }
            @if (item.Book != null)
            {
                <td>@item.Book.Booktittle </td>
            }
            @if (item.Conference != null)
            {
                <td>@item.Conference.Conferencetittle </td>
            }
            <td>  <a asp-action="deletereferencedetalis" asp-route-articleid="@Model.Articleid" asp-route-id="@item.ArticleReferencesid" class="btn btn-danger mr-2 eda">حذف</a> </td>

        </tr>
            }

        </table>
        </div>
        }


        <!-- Large modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">اضافة مصادر</button>

        <div class="modal fade bd-example-modal-lg" id="modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 mr-0">
                                    نوع المصدر
                                </div>
                                <div class="col-md-4 ml-0">
                                    <select class="form-control" asp-items="ViewBag.sources" id="source" onchange="cs()"></select>
                                </div>
                                <div class="col-md-4 ml-0">
                                    <select class="form-control" id="ex" onchange="ct()">
                                        <option value="2">موجود بالفعل</option>
                                        <option value="1">جديد</option>
                                    </select>
                                </div>

                            </div>


                            <div class="row" id="exist">
                                <div style="text-align:center" class="col-md-12 ml-0" id="article">
                                    <select class="form-control" asp-items="ViewBag.Article" style="width:100%" id="articleref"></select>
                                </div>
                                <div style="text-align:center" class="col-md-12 ml-0" id="book">
                                    <select class="form-control" asp-items="ViewBag.Book" style="width:100%" id="bookref"></select>
                                </div>
                                <div style="text-align:center" class="col-md-12 ml-0" id="conf">
                                    <select class="form-control" asp-items="ViewBag.Conference" style="width:100%" id="conferenceref"></select>
                                </div>


                            </div>

                            <div class="row" id="new">
                                <div class="col-sm-3 mr-0 title">
                                    العنوان
                                </div>
                                <div class="col-sm-8 title">
                                    <input type="text" class="form-control" id="title" onkeypress="removeerror()" />
                                    <span class="error text-danger" style="visibility:hidden">العنوان مطلوب</span>
                                </div>



                                <div class="col-sm-3 mr-0 year" id="year1">
                                    السنة
                                </div>
                                <div class="col-sm-8 year" id="year2">
                                    <input type="text" class="form-control" id="year" />
                                </div>

                                <div class="col-sm-4 mr-0 year" id="cpn1">
                                    اسم منشور المؤتمر
                                </div>
                                <div class="col-sm-8 year" id="cpn2">
                                    <input type="text" class="form-control" id="cpn" />
                                </div>

                                <div class="col-sm-3 mr-0" id="country1">
                                    البلد
                                </div>
                                <div class="col-sm-8" id="country2">
                                    <select class="form-control" asp-items="ViewBag.country" id="country"></select>
                                </div>
                                <div class="col-sm-3 mr-0 publisher" id="p1">
                                    الناشر
                                </div>
                                <div class="col-sm-8 publisher" id="p2">
                                    <select class="form-control" asp-items="ViewBag.publisher" id="publisher"></select>
                                </div>
                                <div class="table-responsive" id="issue">
                                    <table class="table table-bordered ">
                                        <tr>
                                            <th width="25%">المؤسسة</th>
                                            <th width="25%">المجله</th>
                                            <th width="25%">العدد </th>
                                            <th width="25%">اصدار العدد</th>
                                        </tr>
                                        <tr class="mycontainer2" id="mainrow2">
                                            <td style="text-align:center">

                                                <select id="productCategory2details" style="width:100%;" class="pc2details form-control" asp-items="ViewBag.institution" onchange="LoadProductdetails(this)">
                                                    <option value="0">اختار المؤسسة</option>
                                                </select>
                                                <input type="button" class="btn btn-primary" value="مؤسسة جديده؟" onclick="addinstitution()" />

                                            </td>
                                            <td style="text-align:center">
                                                <select id="productdetails" style="width:100%;" class="productdetails form-control" onchange="LoadProduct2details(this)">
                                                </select>
                                                <input type="button" class="btn btn-primary" value="مجلة جديده؟" onclick="addmagazine()" />
                                            </td>
                                            <td style="text-align:center">
                                                <select id="product2details" style="width:100%;" class="product2details form-control" onchange="LoadProduct3details(this)">
                                                </select>
                                                <input type="button" class="btn btn-primary" value="عدد جديد؟" onclick="issue()" />
                                            </td>

                                            <td style="text-align:center">
                                                <select id="product3details" style="width:100%;" class="product3details form-control">
                                                </select>
                                                <input type="button" class="btn btn-primary" value="اصدار عدد جديد؟" onclick="issueversion()" />
                                            </td>


                                        </tr>
                                    </table>


                                    @*<select asp-for="ArticleIssue" class="form-control" asp-items="ViewBag.ArticleIssue"></select>*@
                                </div>

                                <div class="col-sm-3 mr-0 page">
                                    الصفحه
                                </div>
                                <div class="col-sm-4 page">
                                    <input type="text" class="form-control" id="pagenew" />
                                </div>
                                <hr />
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped mb-0">
                                        <tr>
                                            <th>المؤلف</th>
                                            <th>المؤلف الاساسي ؟</th>
                                            <th>اضافه</th>
                                        </tr>
                                        <tr class="mycontainerdetails" id="mainrowdetails">
                                            <td style="text-align:center">
                                                <select id="productCategorydetails" style="width:100%;" class="pcdetails form-control" asp-items="ViewBag.Authors"></select>

                                            </td>
                                            <td>
                                                <input type="radio" id="mdetails" name="madetails" class="madetails">
                                            </td>

                                            <td>
                                                <input type="button" id="adddetails" value="اضافه"  class="btn btn-success" />
                                            </td>
                                        </tr>
                                    </table>
                                 </div>
                                    <input type="button" class="btn btn-primary" value="اضافة مؤلف جديد؟" onclick="addauthor()" />


                                    <div class="table-responsive" id="oidetails">
                                        <table class="table table-bordered table-striped mb-0" id="orderdetailsItemsdetails"></table>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>
                                    <button type="button" class="btn btn-success" onclick="save()">حفظ</button>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <a asp-action="Edit" asp-route-id="@Model.Articleid">تعديل</a> |
            <a asp-action="Index">الرجوع الي القائمة</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


            <script>
                async function LoadProductdetails(categoryDD) {

            $.ajax({
                type: "GET",
                url: "/Articles/getmagazine",
                data: { 'Institutionid': $(categoryDD).val() },
                success: async function (data) {
                    //render products to appropriate dropdown
                    renderProductdetails($(categoryDD).parents('.mycontainer2').find('select.productdetails'), data);

                    await LoadProduct2details($(categoryDD).parents('.mycontainer2').find('select.productdetails'))

                    LoadProduct3details($(categoryDD).parents('.mycontainer2').find('select.product2details'));



                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

                async function renderProductdetails(element, data) {
            //render product
            var $ele = $(element);
            $ele.empty();

            $.each(data, function (i, val) {
                $ele.append($('<option/>').val(val.Magazineid).text(val.Name));
            })
            return;
        }


        //fetch products
                async function LoadProduct2details(categoryDD) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "/Articles/getissue",
                    data: { 'Magazineid': $(categoryDD).val() },
                    success: function (data) {
                        //render products to appropriate dropdown
                        renderProduct2details($(categoryDD).parents('.mycontainer2').find('select.product2details'), data).then(LoadProduct3details($(categoryDD).parents('.mycontainer2').find('select.product2details')));

                        resolve();
                    },
                    error: function (error) {
                        console.log(error);
                        reject();
                    }
                })
            });
        }

                async function renderProduct2details(element, data) {
            //render product
            var $ele = $(element);
            $ele.empty();

            $.each(data, function (i, val) {
                $ele.append($('<option/>').val(val.Issueid).text(val.Issuenumber));
            })
            return;
        }


                async function LoadProduct3details(categoryDD) {

            $.ajax({
                type: "GET",
                url: "/Articles/getissueversion",
                data: { 'magazineissueid': $(categoryDD).val() },
                success: function (data) {
                    //render products to appropriate dropdown
                    renderProduct3details($(categoryDD).parents('.mycontainer2').find('select.product3details'), data);
                },
                error: function (error) {
                    console.log(error);
                }
            })
            return;
        }

                async function renderProduct3details(element, data) {
            //render product

            var $ele = $(element);
            $ele.empty();

            $.each(data, function (i, val) {
                $ele.append($('<option/>').val(val.IssueOfIssueid).text(val.IssuenumberOfIssue));
            })
            return;
        }

        function checkForDuplicatesdetails(array) {
            return new Set(array).size !== array.length
        }

        $(document).ready(function () {
            $("#multiSelectDropDown").chosen({
                width: "100%"
            });
            
           
            $("#productCategory2details").select2();
            $("#productCategorydetails").select2();
            $("#productdetails").select2();
            $("#product2details").select2();
            $("#product3details").select2();
            $("#articleref").select2();
            $("#bookref").select2();
            $("#conferenceref").select2();

            $("#adddetails").click(function () {
                var $newRow = $('#mainrowdetails').clone().removeAttr('id');
                $('.pcdetails', $newRow).val($('#productCategorydetails').val());
                if ($('#mdetails').is(':checked')) {
                    $('.madetails', $newRow).prop('checked', true);
                }
                else {
                    $('.madetails', $newRow).prop('checked', false);
                }
                var yourArray2 = new Array();

                $('#orderdetailsItemsdetails  tr').each(function (index, ele) {
                    yourArray2.push($('.pcdetails', this).val());

                }
                );

                yourArray2.push($('#productCategorydetails').val());


                if (checkForDuplicatesdetails(yourArray2) != true) {
                    $('#adddetails', $newRow).addClass('remove').val('حذف').removeClass('btn-success').addClass('btn-danger');
                    $('#productCategorydetails,#mdetails,#adddetails', $newRow).removeAttr('id');
                    $('#orderdetailsItemsdetails').append($newRow);
                }



            })

            var s = document.getElementById("ex").value;
            if (s == 1) {
                document.getElementById("exist").style.display = "none";
                document.getElementById("new").style.display = "block";
            }
            else if (s == 2) {
                document.getElementById("new").style.display = "none";
                document.getElementById("exist").style.display = "block";
            }

            var x = document.getElementById("source").value;
            if (x == 1) {
                document.getElementById("country1").style.display = "none";
                document.getElementById("country2").style.display = "none";
                document.getElementById("year1").style.display = "none";
                document.getElementById("year2").style.display = "none";
                document.getElementById("p1").style.display = "none";
                document.getElementById("p2").style.display = "none";
                document.getElementById("issue").style.display = "block";
                document.getElementById("article").style.display = "block";
                document.getElementById("book").style.display = "none";
                document.getElementById("conf").style.display = "none";
                document.getElementById("cpn1").style.display = "none";
                document.getElementById("cpn2").style.display = "none";
            }
            else if (x == 2) {
                document.getElementById("country1").style.display = "block";
                document.getElementById("country2").style.display = "block";
                document.getElementById("year1").style.display = "block";
                document.getElementById("year2").style.display = "block";
                document.getElementById("p1").style.display = "block";
                document.getElementById("p2").style.display = "block";
                document.getElementById("issue").style.display = "none";
                document.getElementById("article").style.display = "none";
                document.getElementById("book").style.display = "block";
                document.getElementById("conf").style.display = "none";
                document.getElementById("cpn1").style.display = "none";
                document.getElementById("cpn2").style.display = "none";
            }
            else if (x == 3) {
                document.getElementById("country1").style.display = "block";
                document.getElementById("country2").style.display = "block";
                document.getElementById("year1").style.display = "block";
                document.getElementById("year2").style.display = "block";
                document.getElementById("p1").style.display = "block";
                document.getElementById("p2").style.display = "block";
                document.getElementById("issue").style.display = "none";
                document.getElementById("article").style.display = "none";
                document.getElementById("book").style.display = "none";
                document.getElementById("conf").style.display = "block";
                document.getElementById("cpn1").style.display = "block";
                document.getElementById("cpn2").style.display = "block";
            }

        });

        function ct() {
            var s = document.getElementById("ex").value;
            if (s == 1) {
                document.getElementById("exist").style.display = "none";
                document.getElementById("new").style.display = "block";
            }
            else if (s==2)
            {
                document.getElementById("new").style.display = "none";
                document.getElementById("exist").style.display = "block";
            }
        }

        function issueversion()
        {
            var x = document.getElementById("product2details").value;
            if (x == "") {
                swal("تحذير","يجب اختيار العدد اولا","warning");
            }
            else {
                //window.location.href = "/IssueOfIssues/Create/" + x;
                var win = window.open("/IssueOfIssues/Create/" + x, "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
                var timer = setInterval(function () {
                    if (win.closed) {
                        clearInterval(timer);
                        location.reload();
                    }
                }, 0);
            }
    }

    function issue() {
        var x = document.getElementById("productdetails").value;
        if (x == "") {
            swal("تحذير", "يجب اختيار المجله اولا", "warning");
        }
        else {

        //window.location.href = "/IssueOfIssues/Create/" + x;
        var win = window.open("/MagazineIssues/Create/" + x, "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
           }
    }

    function addmagazine() {

        //window.location.href = "/IssueOfIssues/Create/" + x;
        var win = window.open("/Magazines/Create", "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
    }

    function addinstitution() {

        var win = window.open("/Institutions/Create", "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
    }

    function addauthor() {

        var win = window.open("/Authors/Create", "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
    }

        function cs() {
            var x = document.getElementById("source").value;
            if (x == 1) {
                document.getElementById("country1").style.display = "none";
                document.getElementById("country2").style.display = "none";
                document.getElementById("year1").style.display = "none";
                document.getElementById("year2").style.display = "none";
                document.getElementById("p1").style.display = "none";
                document.getElementById("p2").style.display = "none";
                document.getElementById("issue").style.display = "block";
                document.getElementById("article").style.display = "block";
                document.getElementById("book").style.display = "none";
                document.getElementById("conf").style.display = "none";
                document.getElementById("cpn1").style.display = "none";
                document.getElementById("cpn2").style.display = "none";
            }
            else if (x == 2) {
                document.getElementById("country1").style.display = "block";
                document.getElementById("country2").style.display = "block";
                document.getElementById("year1").style.display = "block";
                document.getElementById("year2").style.display = "block";
                document.getElementById("p1").style.display = "block";
                document.getElementById("p2").style.display = "block";
                document.getElementById("issue").style.display = "none";
                document.getElementById("article").style.display = "none";
                document.getElementById("book").style.display = "block";
                document.getElementById("conf").style.display = "none";
                document.getElementById("cpn1").style.display = "none";
                document.getElementById("cpn2").style.display = "none";
            }
            else if (x == 3) {
                document.getElementById("country1").style.display = "block";
                document.getElementById("country2").style.display = "block";
                document.getElementById("year1").style.display = "block";
                document.getElementById("year2").style.display = "block";
                document.getElementById("p1").style.display = "block";
                document.getElementById("p2").style.display = "block";
                document.getElementById("issue").style.display = "none";
                document.getElementById("article").style.display = "none";
                document.getElementById("book").style.display = "none";
                document.getElementById("conf").style.display = "block";
                document.getElementById("cpn1").style.display = "block";
                document.getElementById("cpn2").style.display = "block";
            }


    }

                $('#orderdetailsItemsdetails').on('click', '.remove', function () {
        $(this).parents('tr').remove();
    });

     function removeerror()
    {
         $('#title').siblings('span.error').css('visibility', 'hidden');
    }
    async function save()
        {
            var articleid = document.getElementById("id").value;
            var title = document.getElementById("title").value;
            var pagenew = document.getElementById("pagenew").value;

            var year = document.getElementById("year").value;
            var publisher = document.getElementById("publisher").value;
            var country = document.getElementById("country").value;
            var conferencepublicationname = document.getElementById("cpn").value;
        var issueversion = document.getElementById("product3details").value;
            var articlerefid = document.getElementById("articleref").value;
            var bookrefid = document.getElementById("bookref").value;
            var conferencerefid = document.getElementById("conferenceref").value;

            var validform = true;
            if ($('#title').val() == "") {

                $('#title').siblings('span.error').css('visibility', 'visible');
                validform = false;
        }

            var source = document.getElementById("source").value;
        var exornew = document.getElementById("ex").value;

        if (source == 1) {

            if (exornew == 1) {
                if (validform == true) {
                    if (issueversion == "") {
                        swal("تحذير", "يجب ادخال اصدار العدد!", "warning")
                    }
                    else {
                        if (await SendAuthorsdetails() == true) {
                            $.ajax({
                                data: { articleid: articleid, Articletittle: title, ArticleIssue: issueversion, Page: pagenew },
                                url: "@Url.Action("SaveResourceNewArticle", "Articles")",
                                success: async function (result) {
                                    if (result.success == false) {

                                        swal("فشل!", result.responseText, result.type)
                                    }
                                    else {

                                        await swal("تم", "تمت الاضافه بنجاح!", "success")
                                        location.reload();
                                        //$('#modal').modal('toggle');

                                    }
                                },
                                error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                            });

                        }
                        else {
                            alert("faild");
                        }
                    }
                }
                }
            else if (exornew == 2) {
                if (articleid == articlerefid) {
                    swal("تحذير", "لا يمكن ان يكون نفس المقال هو المصدر!", "warning")
                }
                else {
                    $.ajax({
                        data: { articleid: articleid, articlerefid: articlerefid },
                        url: "@Url.Action("SaveResourceExistArticle", "Articles")",
                        success: async function (result) {
                            if (result.success == false) {


                                swal("فشل!", result.responseText, result.type)
                            }
                            else {

                                await swal("تم", "تمت الاضافه بنجاح!", "success")
                                location.reload();
                                //$('#modal').modal('toggle');

                            }
                        },
                        error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                    });

                }
                }
            }
            else if (source == 2) {
                if (exornew == 1) {
                    if (validform == true) {
                        if (await SendAuthorsdetails() == true) {
                            $.ajax({
                                data: { articleid: articleid, Booktittle: title, Year: year, Country: country, Publisherid: publisher, Page: pagenew },
                                url: "@Url.Action("SaveResourceNewBook", "Articles")",
                                success: async function (result) {
                                    if (result.success == false) {


                                        swal("فشل!", result.responseText, result.type)
                                    }
                                    else {

                                        await swal("تم", "تمت الاضافه بنجاح!", "success")
                                        location.reload();
                                        //$('#modal').modal('toggle');

                                    }
                                },
                                error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                            });

                        }
                        else {
                            alert("faild");
                        }
                    }

                }
                else if (exornew == 2) {
                    $.ajax({
                        data: { articleid: articleid, bookrefid: bookrefid },
                        url: "@Url.Action("SaveResourceExistBook", "Articles")",
                        success: async function (result) {
                            if (result.success == false) {


                                swal("فشل!", result.responseText, result.type)
                            }
                            else {

                                await swal("تم", "تمت الاضافه بنجاح!", "success")
                                location.reload();
                                //$('#modal').modal('toggle');

                            }
                        },
                        error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                    });


                }
            }
            else if (source == 3) {
                if (exornew == 1) {
                    if (validform == true) {
                        if (await SendAuthorsdetails() == true) {
                            $.ajax({
                                data: { articleid: articleid, Conferencetittle: title, Year: year, ConferencePublicationName: conferencepublicationname, Country: country, Publisherid: publisher, Page: pagenew },
                                url: "@Url.Action("SaveResourceNewConference", "Articles")",
                                success: async function (result) {
                                    if (result.success == false) {


                                        swal("فشل!", result.responseText, result.type)
                                    }
                                    else {

                                        await swal("تم", "تمت الاضافه بنجاح!", "success")
                                        location.reload();
                                        //$('#modal').modal('toggle');

                                    }
                                },
                                error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                            });

                        }
                        else {
                            alert("faild");
                        }
                    }
                }
                else if (exornew == 2) {
                    $.ajax({
                        data: { articleid: articleid, conferencerefid: conferencerefid },
                        url: "@Url.Action("SaveResourceExistConference", "Articles")",
                        success: async function (result) {
                            if (result.success == false) {


                                swal("فشل!", result.responseText, result.type)
                            }
                            else {

                                await swal("تم", "تمت الاضافه بنجاح!", "success")
                                location.reload();
                                //$('#modal').modal('toggle');

                            }
                        },
                        error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                    });


                }
            }



    }

                async function SendAuthorsdetails()
    {
         var things = [];
        $('#orderdetailsItemsdetails  tr').each(function (index, ele) {

                 var articleauthors = {

                     author: parseInt($('.pcdetails', this).val()),
                     main: $('.madetails', this).is(':checked') ? true : false

                 }
                 things.push(articleauthors);

             })



             var data = {
                 articleauthors1: things
                 }

                 return new Promise((resolve, reject) => {
                     $.ajax({
                         type: 'POST',
                         contentType: 'application/json; charset=utf-8',
                         url: "@Url.Action("save", "Articles")",
                         data: JSON.stringify(data),
                         success: function (result) {
                             if (result.success == false) {
                                 reject(result.success);

                             }
                             else {
                                 resolve(result.success)

                             }

                         },
                         error: function () { reject(false); }
                     });
                 });
    }
            </script>
        }

