@model Citations.Models.Article

@{
    ViewData["Title"] = "Edit";
}



<h5>تعديل المقال</h5>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form enctype="multipart/form-data" asp-action="Edit" id="form_id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Articleid" id="Articleid" />
            <div class="row">

                <div class="col-sm-3">
                    <label asp-for="Articletittle" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <textarea style="width:80%;" asp-for="Articletittle" id="Articletittle" rows="2"></textarea>
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="Articletittle" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="ArticletittleEn" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <textarea style="width:80%;" asp-for="ArticletittleEn" id="ArticletittleEn" rows="2"></textarea>
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="ArticletittleEn" class="text-danger"></span>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="BriefQuote" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <textarea style="width:80%;" asp-for="BriefQuote" id="BriefQuote" rows="2"></textarea>

                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="BriefQuote" class="text-danger"></span>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <label asp-for="BriefQuoteEn" class="control-label"></label>
                </div>
                <div class="col-sm-12">
                    <textarea style="width:80%;" asp-for="BriefQuoteEn" id="BriefQuoteEn" rows="2"></textarea>

                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="BriefQuoteEn" class="text-danger"></span>
                </div>
            </div>
            <div class="row" style="display:none">
                <div class="col-sm-6">
                    <label asp-for="NumberOfCitations" class="control-label"></label>
                    <input asp-for="NumberOfCitations" id="NumberOfCitations" class="form-control" />
                    <span asp-validation-for="NumberOfCitations" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <label asp-for="NumberOfReferences" class="control-label"></label>
                    <input asp-for="NumberOfReferences" id="NumberOfReferences" class="form-control" />
                    <span asp-validation-for="NumberOfReferences" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input asp-for="ScannedArticlePdf" id="ScannedArticlePdf" type="hidden" />

                @if (Model.ScannedArticlePdf != null)
                {
                    <div>
                        <p>@Model.ScannedArticlePdf</p>
                        تحميل مقال اخر بدلا من القديم    <input class="form-control btn-primary" id="myfile" type="file" name="articlefile">
                    </div>
                }
                else
                {
                    <p>  تحميل المقال </p>
                    <input type="file" id="myfile" name="articlefile">
                }
                <span asp-validation-for="ScannedArticlePdf" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="ArticleIssue" class="control-label"></label>
                    <select asp-for="ArticleIssue" class="form-control" asp-items="ViewBag.ArticleIssue"></select>
                    <span asp-validation-for="ArticleIssue" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                الكلمات الداله
                <select asp-for="KeyWords" asp-items="ViewBag.key" id="multiSelectDropDown" class="form-control" multiple="multiple"></select>
            </div>

            <div class="form-group">
                <label class="control-label">اضافة كلمات داله جديده  </label>
                <table class="table">
                    <tr>
                        <td> الاسم العربي</td>
                        <td>الاسم الانجليزي</td>

                        <td>&nbsp;</td>
                    </tr>
                    <tr class="researchcontainer" id="researchrow">
                        <td>


                            <input type="text" id="newarResarchFields" class="form-control" />
                        </td>
                        <td>
                            <input type="text" id="newenResarchFields" class="form-control" />
                        </td>
                        <td>
                            <input type="button" id="addResarchFields" class="btn btn-outline-success" value="اضافه" />
                        </td>
                    </tr>
                </table>

            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0" id="researchdetails"></table>
                <span id="orderItemError" style="color:red"></span>
            </div>

            <hr />
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <tr>
                        <th width="25%">المؤسسة</th>
                        <th width="25%">المجله</th>
                        <th width="25%">العدد</th>
                        <th width="25%">اصدار العدد</th>
                    </tr>
                    <tr class="mycontainer2" id="mainrow2">
                        <td style="text-align:center">

                            <select id="productCategory2" style="width:100%;" class="pc2 form-control" asp-items="ViewBag.institution" asp-for="@Model.ArticleIssueNavigation.MagazineIssue.Magazine.Institutionid" onchange="LoadProductx(this)">
                            </select>

                        </td>
                        <td style="text-align:center">
                            <select id="product" style="width:100%;" class="product form-control" onchange="LoadProduct2x(this)">
                                <option value="@Model.ArticleIssueNavigation.MagazineIssue.Magazineid">@Model.ArticleIssueNavigation.MagazineIssue.Magazine.Name</option>
                            </select>
                        </td>

                        <td style="text-align:center">
                            <select id="product2" style="width:100%;" class="product2 form-control" onchange="LoadProduct3x(this)">
                                <option value="@Model.ArticleIssueNavigation.MagazineIssue.Issueid">@Model.ArticleIssueNavigation.MagazineIssue.Issuenumber</option>
                            </select>
                        </td>

                        <td style="text-align:center">
                            <select asp-for="ArticleIssue" style="width:100%;" id="product3" class="product3 form-control">
                                <option value="@Model.ArticleIssueNavigation.IssueOfIssueid">@Model.ArticleIssueNavigation.IssuenumberOfIssue</option>
                            </select>
                            <span asp-validation-for="ArticleIssue" class="text-danger"></span>
                        </td>


                    </tr>
                </table>


                @*<select asp-for="ArticleIssue" class="form-control" asp-items="ViewBag.ArticleIssue"></select>*@
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label asp-for="Page" class="control-label"></label>
                </div>
                <div class="col-sm-4">
                    <input asp-for="Page" class="form-control" id="ArticlePage" />
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="Page" class="text-danger"></span>
                </div>
            </div>

            <hr />
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <tr>
                        <th>المؤلف</th>
                        <th>المؤلف الاساسي ؟</th>
                        <th>اضافه</th>
                    </tr>
                    <tr class="mycontainer" id="mainrow">
                        <td style="text-align:center">
                            <select id="productCategory" class="pc form-control" style="width:100%" asp-items="ViewBag.Authors"></select>

                        </td>
                        <td style="text-align:center">
                            <input type="radio" id="m" name="ma" class="ma">
                        </td>

                        <td style="text-align:center">
                            <input type="button" id="add" value="اضافه" class="btn btn-success" />
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="table-responsive" style="width:75%">
                <table class="table table-bordered table-striped mb-0" id="orderdetailsItems">

                    @foreach (var x in Model.ArticleAuthores)
                    {
                        <tr class="mycontainer">
                            <td style="text-align:center">
                                <select style="text-align:center;width:100%;" class="pc rounded">
                                    <option style="text-align:center" value="@x.Authorid">@x.Author.Name</option>
                                </select>
                            </td>
                            <td style="text-align:center">
                                <input type="radio" name="ma" class="ma" @(Html.Raw(x.MainAuthor ? "checked=\"checked\"" : ""))>
                            </td>
                            <td style="text-align:center">
                                <input type="button" value="حذف" class="remove btn btn-danger" />
                            </td>
                        </tr>
                    }
                </table>
            </div>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" />نشط
                </label>
            </div>
            <div class="form-group">
                <input type="button" value="حفظ" onclick="SendAuthors()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">اضافة مصادر</button>

<div class="modal fade bd-example-modal-lg" id="modal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 mr-0">
                            نوع المصدر
                        </div>
                        <div class="col-md-4 ml-0">
                            <select class="form-control" asp-items="ViewBag.sources" id="source" onchange="cs()"></select>
                        </div>
                        <div class="col-md-4 ml-0">
                            <select class="form-control" id="ex" onchange="ct()">
                                <option value="2">موجود بالفعل</option>
                                <option value="1">جديد</option>
                            </select>
                        </div>

                    </div>


                    <div class="row" id="exist">
                        <div style="text-align:center" class="col-md-12 ml-0" id="article">
                            <select class="form-control" asp-items="ViewBag.Article" style="width:100%" id="articleref"></select>
                        </div>
                        <div style="text-align:center" class="col-md-12 ml-0" id="book">
                            <select class="form-control" asp-items="ViewBag.Book" style="width:100%" id="bookref"></select>
                        </div>
                        <div style="text-align:center" class="col-md-12 ml-0" id="conf">
                            <select class="form-control" asp-items="ViewBag.Conference" style="width:100%" id="conferenceref"></select>
                        </div>


                    </div>

                    <div class="row" id="new">
                        <div class="col-sm-3 mr-0 title">
                            العنوان
                        </div>
                        <div class="col-sm-8 title">
                            <input type="text" class="form-control" id="title" onkeypress="removeerror()" />
                            <span class="error text-danger" style="visibility:hidden">العنوان مطلوب</span>
                        </div>



                        <div class="col-sm-3 mr-0 year" id="year1">
                            السنة
                        </div>
                        <div class="col-sm-8 year" id="year2">
                            <input type="text" class="form-control" id="year" />
                        </div>

                        <div class="col-sm-4 mr-0 year" id="cpn1">
                            اسم منشور المؤتمر
                        </div>
                        <div class="col-sm-8 year" id="cpn2">
                            <input type="text" class="form-control" id="cpn" />
                        </div>

                        <div class="col-sm-3 mr-0" id="country1">
                            البلد
                        </div>
                        <div class="col-sm-8" id="country2">
                            <select class="form-control" asp-items="ViewBag.country" id="country"></select>
                        </div>
                        <div class="col-sm-3 mr-0 publisher" id="p1">
                            الناشر
                        </div>
                        <div class="col-sm-8 publisher" id="p2">
                            <select class="form-control" asp-items="ViewBag.publisher" id="publisher"></select>
                        </div>
                        <div class="table-responsive" id="issue">
                            <table class="table table-bordered ">
                                <tr>
                                    <th width="25%">المؤسسة</th>
                                    <th width="25%">المجله</th>
                                    <th width="25%">العدد </th>
                                    <th width="25%">اصدار العدد</th>
                                </tr>
                                <tr class="mycontainer2" id="mainrow2">
                                    <td style="text-align:center">

                                        <select id="productCategory2details" style="width:100%;" class="pc2details form-control" asp-items="ViewBag.institution" onchange="LoadProductdetails(this)">
                                            <option value="0">اختار المؤسسة</option>
                                        </select>
                                        <input type="button" class="btn btn-primary" value="مؤسسة جديده؟" onclick="addinstitution()" />

                                    </td>
                                    <td style="text-align:center">
                                        <select id="productdetails" style="width:100%;" class="productdetails form-control" onchange="LoadProduct2details(this)">
                                        </select>
                                        <input type="button" class="btn btn-primary" value="مجلة جديده؟" onclick="addmagazine()" />
                                    </td>
                                    <td style="text-align:center">
                                        <select id="product2details" style="width:100%;" class="product2details form-control" onchange="LoadProduct3details(this)">
                                        </select>
                                        <input type="button" class="btn btn-primary" value="عدد جديد؟" onclick="issue()" />
                                    </td>

                                    <td style="text-align:center">
                                        <select id="product3details" style="width:100%;" class="product3details form-control">
                                        </select>
                                        <input type="button" class="btn btn-primary" value="اصدار عدد جديد؟" onclick="issueversion()" />
                                    </td>


                                </tr>
                            </table>


                            @*<select asp-for="ArticleIssue" class="form-control" asp-items="ViewBag.ArticleIssue"></select>*@
                        </div>

                        <div class="col-sm-3 mr-0 page">
                            الصفحه
                        </div>
                        <div class="col-sm-4 page">
                            <input type="text" class="form-control" id="pagenew" />
                        </div>
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped mb-0">
                                <tr>
                                    <th>المؤلف</th>
                                    <th>المؤلف الاساسي ؟</th>
                                    <th>اضافه</th>
                                </tr>
                                <tr class="mycontainerdetails" id="mainrowdetails">
                                    <td style="text-align:center">
                                        <select id="productCategorydetails" style="width:100%;" class="pcdetails form-control" asp-items="ViewBag.Authors"></select>

                                    </td>
                                    <td>
                                        <input type="radio" id="mdetails" name="madetails" class="madetails">
                                    </td>

                                    <td>
                                        <input type="button" id="adddetails" value="اضافه" class="btn btn-success" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <input type="button" class="btn btn-primary" value="اضافة مؤلف جديد؟" onclick="addauthor()" />


                        <div class="table-responsive" id="oidetails">
                            <table class="table table-bordered table-striped mb-0" id="orderdetailsItemsdetails"></table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">غلق</button>
                        <button type="button" class="btn btn-success" onclick="save()">حفظ</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.ArticleReferenceArticles.Count() != 0)
{
    <h3>المصادر</h3>
    <div class="table-responsive">
        <table class="table table-primary table-striped">
            <tr>
                <th>
                    المصدر
                </th>

            </tr>
            @foreach (var item in Model.ArticleReferenceArticles)
            {
                <tr>
                    @if (item.Articleref != null)
                    {
                        <td>@item.Articleref.Articletittle </td>
                    }
                    @if (item.Book != null)
                    {
                        <td>@item.Book.Booktittle </td>
                    }
                    @if (item.Conference != null)
                    {
                        <td>@item.Conference.Conferencetittle </td>
                    }

                <td>  <a asp-action="deletereference" asp-route-articleid="@Model.Articleid" asp-route-id="@item.ArticleReferencesid" class="btn btn-danger mr-2 eda">حذف</a> </td>
                </tr>
            }

        </table>
    </div>
}
<div>
    <a asp-action="Index">الرجوع الي القائمه</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        async function LoadProductdetails(categoryDD) {

            $.ajax({
                type: "GET",
                url: "/Articles/getmagazine",
                data: { 'Institutionid': $(categoryDD).val() },
                success: async function (data) {
                    //render products to appropriate dropdown
                    renderProductdetails($(categoryDD).parents('.mycontainer2').find('select.productdetails'), data);

                    await LoadProduct2details($(categoryDD).parents('.mycontainer2').find('select.productdetails'))

                    LoadProduct3details($(categoryDD).parents('.mycontainer2').find('select.product2details'));



                },
                error: function (error) {
                    console.log(error);
                }
            })
        }

        async function renderProductdetails(element, data) {
            //render product
            var $ele = $(element);
            $ele.empty();

            $.each(data, function (i, val) {
                $ele.append($('<option/>').val(val.Magazineid).text(val.Name));
            })
            return;
        }


        //fetch products
        async function LoadProduct2details(categoryDD) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "GET",
                    url: "/Articles/getissue",
                    data: { 'Magazineid': $(categoryDD).val() },
                    success: function (data) {
                        //render products to appropriate dropdown
                        renderProduct2details($(categoryDD).parents('.mycontainer2').find('select.product2details'), data).then(LoadProduct3details($(categoryDD).parents('.mycontainer2').find('select.product2details')));

                        resolve();
                    },
                    error: function (error) {
                        console.log(error);
                        reject();
                    }
                })
            });
        }

        async function renderProduct2details(element, data) {
            //render product
            var $ele = $(element);
            $ele.empty();

            $.each(data, function (i, val) {
                $ele.append($('<option/>').val(val.Issueid).text(val.Issuenumber));
            })
            return;
        }


        async function LoadProduct3details(categoryDD) {

            $.ajax({
                type: "GET",
                url: "/Articles/getissueversion",
                data: { 'magazineissueid': $(categoryDD).val() },
                success: function (data) {
                    //render products to appropriate dropdown
                    renderProduct3details($(categoryDD).parents('.mycontainer2').find('select.product3details'), data);
                },
                error: function (error) {
                    console.log(error);
                }
            })
            return;
        }

        async function renderProduct3details(element, data) {
            //render product

            var $ele = $(element);
            $ele.empty();

            $.each(data, function (i, val) {
                $ele.append($('<option/>').val(val.IssueOfIssueid).text(val.IssuenumberOfIssue));
            })
            return;
        }

        function checkForDuplicatesdetails(array) {
            return new Set(array).size !== array.length
        }

 function LoadProduct(categoryDD) {

        $.ajax({
            type: "GET",
            url: "/Articles/getmagazine",
            data: { 'Institutionid': $(categoryDD).val() },
            success: function (data) {
                //render products to appropriate dropdown
                renderProduct($(categoryDD).parents('.mycontainer2').find('select.product'), $(categoryDD).parents('.mycontainer2').find('select.product option'), data).then(LoadProduct2($(categoryDD).parents('.mycontainer2').find('select.product')).then(LoadProduct3($(categoryDD).parents('.mycontainer2').find('select.product2'))))


            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    async function renderProduct(element, ele, data) {
        //render product

        var $ele = $(element);
        $.each(data, function (i, val) {
            if (ex(ele, val.Magazineid) == false) {
                $ele.append($('<option/>').val(val.Magazineid).text(val.Name));
            }
        })
        return;
    }

    async function LoadProduct2(categoryDD) {

        $.ajax({
            type: "GET",
            url: "/Articles/getissue",
            data: { 'Magazineid': $(categoryDD).val() },
            success: function (data) {

                renderProduct2($(categoryDD).parents('.mycontainer2').find('select.product2'), $(categoryDD).parents('.mycontainer2').find('select.product2 option'), data).then(LoadProduct3($(categoryDD).parents('.mycontainer2').find('select.product2')));

            },
            error: function (error) {
                console.log(error);
            }
        })
        return;
    }

    async function renderProduct2(element, ele, data) {
        //render product
        var $ele = $(element);

        $.each(data, function (i, val) {

            if (ex(ele, val.Issueid) == false) {

                $ele.append($('<option/>').val(val.Issueid).text(val.Issuenumber));
            }
        })
        return;
    }



    function LoadProduct3(categoryDD) {

        $.ajax({
            type: "GET",
            url: "/Articles/getissueversion",
            data: { 'magazineissueid': $(categoryDD).val() },
            success: function (data) {
                //render products to appropriate dropdown
                renderProduct3($(categoryDD).parents('.mycontainer2').find('select.product3'), $(categoryDD).parents('.mycontainer2').find('select.product3 option'), data);
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function renderProduct3(element, ele, data) {
        //render product
        var $ele = $(element);


        $.each(data, function (i, val) {
            if (ex(ele, val.IssueOfIssueid) == false) {
                $ele.append($('<option/>').val(val.IssueOfIssueid).text(val.IssuenumberOfIssue));
            }
        })
    }

    function ex(element, vals) {
        var exists = false;
        for (var i = 0, opts = element; i < opts.length; ++i)
            if (opts[i].value == vals) {
                exists = true;
                break;
            }
        return exists;
    }

    function LoadProductx(categoryDD) {

        $.ajax({
            type: "GET",
            url: "/Articles/getmagazine",
            data: { 'Institutionid': $(categoryDD).val() },
            success: function (data) {
                //render products to appropriate dropdown
                renderProductx($(categoryDD).parents('.mycontainer2').find('select.product'), data).then(LoadProduct2x($(categoryDD).parents('.mycontainer2').find('select.product')).then(LoadProduct3x($(categoryDD).parents('.mycontainer2').find('select.product2'))));



            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    async function renderProductx(element, data) {
        //render product
        var $ele = $(element);
        $ele.empty();

        $.each(data, function (i, val) {
            $ele.append($('<option/>').val(val.Magazineid).text(val.Name));
        })
        return;
    }


    //fetch products
    async function LoadProduct2x(categoryDD) {

        $.ajax({
            type: "GET",
            url: "/Articles/getissue",
            data: { 'Magazineid': $(categoryDD).val() },
            success: function (data) {
                //render products to appropriate dropdown
                renderProduct2x($(categoryDD).parents('.mycontainer2').find('select.product2'), data).then(LoadProduct3x($(categoryDD).parents('.mycontainer2').find('select.product2')));
            },
            error: function (error) {
                console.log(error);
            }
        })
        return;
    }

    async function renderProduct2x(element, data) {
        //render product
        var $ele = $(element);
        $ele.empty();

        $.each(data, function (i, val) {
            $ele.append($('<option/>').val(val.Issueid).text(val.Issuenumber));
        })
        return;
    }


    function LoadProduct3x(categoryDD) {

        $.ajax({
            type: "GET",
            url: "/Articles/getissueversion",
            data: { 'magazineissueid': $(categoryDD).val() },
            success: function (data) {
                //render products to appropriate dropdown
                renderProduct3x($(categoryDD).parents('.mycontainer2').find('select.product3'), data);
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function renderProduct3x(element, data) {
        //render product
        var $ele = $(element);
        $ele.empty();

        $.each(data, function (i, val) {
            $ele.append($('<option/>').val(val.IssueOfIssueid).text(val.IssuenumberOfIssue));
        })
    }

    function checkForDuplicates(array) {
        return new Set(array).size !== array.length
    }

    $(document).ready(function () {
        $("#multiSelectDropDown").chosen({
            width: "100%"
        });




        var yy = $("#productCategory2");

        LoadProduct(yy);



        $("#productCategory").select2();
        $("#productCategory2").select2();
        $("#product").select2();
        $("#product2").select2();
        $("#product3").select2();


        $("#productCategory2details").select2();
        $("#productCategorydetails").select2();
        $("#productdetails").select2();
        $("#product2details").select2();
        $("#product3details").select2();
        $("#articleref").select2();
        $("#bookref").select2();
        $("#conferenceref").select2();

        $("#adddetails").click(function () {
            var $newRow = $('#mainrowdetails').clone().removeAttr('id');
            $('.pcdetails', $newRow).val($('#productCategorydetails').val());
            if ($('#mdetails').is(':checked')) {
                $('.madetails', $newRow).prop('checked', true);
            }
            else {
                $('.madetails', $newRow).prop('checked', false);
            }
            var yourArray2 = new Array();

            $('#orderdetailsItemsdetails  tr').each(function (index, ele) {
                yourArray2.push($('.pcdetails', this).val());

            }
            );

            yourArray2.push($('#productCategorydetails').val());


            if (checkForDuplicatesdetails(yourArray2) != true) {
                $('#adddetails', $newRow).addClass('remove').val('حذف').removeClass('btn-success').addClass('btn-danger');
                $('#productCategorydetails,#mdetails,#adddetails', $newRow).removeAttr('id');
                $('#orderdetailsItemsdetails').append($newRow);
            }



        })

        var s = document.getElementById("ex").value;
        if (s == 1) {
            document.getElementById("exist").style.display = "none";
            document.getElementById("new").style.display = "block";
        }
        else if (s == 2) {
            document.getElementById("new").style.display = "none";
            document.getElementById("exist").style.display = "block";
        }

        var x = document.getElementById("source").value;
        if (x == 1) {
            document.getElementById("country1").style.display = "none";
            document.getElementById("country2").style.display = "none";
            document.getElementById("year1").style.display = "none";
            document.getElementById("year2").style.display = "none";
            document.getElementById("p1").style.display = "none";
            document.getElementById("p2").style.display = "none";
            document.getElementById("issue").style.display = "block";
            document.getElementById("article").style.display = "block";
            document.getElementById("book").style.display = "none";
            document.getElementById("conf").style.display = "none";
            document.getElementById("cpn1").style.display = "none";
            document.getElementById("cpn2").style.display = "none";
        }
        else if (x == 2) {
            document.getElementById("country1").style.display = "block";
            document.getElementById("country2").style.display = "block";
            document.getElementById("year1").style.display = "block";
            document.getElementById("year2").style.display = "block";
            document.getElementById("p1").style.display = "block";
            document.getElementById("p2").style.display = "block";
            document.getElementById("issue").style.display = "none";
            document.getElementById("article").style.display = "none";
            document.getElementById("book").style.display = "block";
            document.getElementById("conf").style.display = "none";
            document.getElementById("cpn1").style.display = "none";
            document.getElementById("cpn2").style.display = "none";
        }
        else if (x == 3) {
            document.getElementById("country1").style.display = "block";
            document.getElementById("country2").style.display = "block";
            document.getElementById("year1").style.display = "block";
            document.getElementById("year2").style.display = "block";
            document.getElementById("p1").style.display = "block";
            document.getElementById("p2").style.display = "block";
            document.getElementById("issue").style.display = "none";
            document.getElementById("article").style.display = "none";
            document.getElementById("book").style.display = "none";
            document.getElementById("conf").style.display = "block";
            document.getElementById("cpn1").style.display = "block";
            document.getElementById("cpn2").style.display = "block";
        }
        //setTimeout(function () {
        //    var xx = $(".product");
        //    for (var ii = 0; ii < xx.length; ii++) {
        //        LoadProduct2(xx[ii]);
        //    } }, 1000);


        $("#add").click(function () {
            var $newRow = $('#mainrow').clone().removeAttr('id');
            $('.pc', $newRow).val($('#productCategory').val());
            if ($('#m').is(':checked')) {
                $('.ma', $newRow).prop('checked', true);
            }
            else {
                $('.ma', $newRow).prop('checked', false);
            }
            var yourArray2 = new Array();

            $('#orderdetailsItems  tr').each(function (index, ele) {
                yourArray2.push($('.pc', this).val());

            }
            );

            yourArray2.push($('#productCategory').val());


            if (checkForDuplicates(yourArray2) != true) {
                $('#add', $newRow).addClass('remove').val('حذف').removeClass('btn-success').addClass('btn-danger');
                $('#productCategory,#m,#add', $newRow).removeAttr('id');
                $('#orderdetailsItems').append($newRow);
            }



        })
    });


        $('#orderdetailsItems').on('click', '.remove', function () {
            $(this).parents('tr').remove();
        });

     function SendAuthors()
     {
         if ($("#form_id").valid()) {

             var things = [];
             $('#orderdetailsItems  tr').each(function (index, ele) {

                 var articleauthors = {

                     author: parseInt($('.pc', this).val()),
                     main: $('.ma', this).is(':checked') ? true : false

                 }
                 things.push(articleauthors);

             })



             var data = {
                 articleauthors1: things
             }

             $.ajax({
                 type: 'POST',
                 contentType: 'application/json; charset=utf-8',
                 url: "@Url.Action("save", "Articles")",
                 data: JSON.stringify(data),
                 success: function (result) {
                     if (result.success == false) {
                         alert("Failed!")
                     }
                     else {
                         asd();
                     }

                 },
                 error: function () { alert("Something went Wrongerror") }
             });

         }
    }

      function asd()
     {

         var data = new FormData();
         var files = $("#myfile").get(0).files;
         data.append("afiles", files[0]);


          var yourArray = $("#multiSelectDropDown").val();
          var str = "" + yourArray + "";
          var array = str.split(",");
          //var re = $('.newarResarchFields').map((_, el) => el.value).get();

          //var ek = [];
          $('.newarResarchFields').each(function () { data.append("newarResarchFields", $(this).val()) });

          $('.newenResarchFields').each(function () { data.append("newenResarchFields", $(this).val()) });


          if (array[0] != "") {
              for (var i = 0; i < array.length; i++) {
                  data.append("ResarchFields", array[i]);
              }
          }

          data.append("Articleid", document.getElementById("Articleid").value);
         data.append("Articletittle", document.getElementById("Articletittle").value);
          data.append("ArticletittleEn", document.getElementById("ArticletittleEn").value);
          data.append("ScannedArticlePdf", document.getElementById("ScannedArticlePdf").value);
         data.append("BriefQuote", document.getElementById("BriefQuote").value);
         data.append("BriefQuoteEn", document.getElementById("BriefQuoteEn").value);
         data.append("NumberOfCitations", document.getElementById("NumberOfCitations").value);
         data.append("NumberOfReferences", document.getElementById("NumberOfReferences").value);
         if (document.getElementById("product3").value != 0) {
             data.append("ArticleIssue", document.getElementById("product3").value);
         }
         data.append("Active", document.getElementById("Active").value);
          data.append("Page", document.getElementById("ArticlePage").value);

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("Edit", "Articles")",
                    data: data,
                    contentType: false,
                    processData: false,

                    success: function (result) {
                        if (result.success == false) {
                            alert("Failed!")
                        }
                        else
                        {
                            window.location.href = '/Articles/Details/' + result.id;
                        }

                    },
                        error: function () { alert("Something went Wrongerror")}
                });


    }

    $('#addResarchFields').click(function () {
        var id = $('#newarResarchFields').val().trim();
        var ele = document.getElementById(id);
        if (ele) {
            alert("Already Exists");

        }
        else {

            var text = ` <tr class="researchcontainer" id=` + $('#newarResarchFields').val().trim() + `>

                <td width="20%">
                    <span class="form-group">

                      `            + $('#newarResarchFields').val() + `

                                        <input type="hidden" class="newarResarchFields" name="newarResarchFields" value="`+ $('#newarResarchFields').val().trim() + `" />

                    </span>
                </td>

                <td class=" form-group" width="25%">
                    <span class="form-group">
                        `+ $('#newenResarchFields').val() + `
                                        <input type="hidden" class="newenResarchFields" name="newenResarchFields" value=" `+ $('#newenResarchFields').val() + `" />
                    </span>
                </td>

                <td width="20%">
                    <input type="button" id="remove" value="حذف" style="width:80px" class="remove btn btn-danger" />
                </td>
            </tr>`

                ;
            if (isEmptyOrSpaces($('#newarResarchFields').val())) {

                $('#newarResarchFields').focus();
            }
            //if (isEmptyOrSpaces($('#newenResarchFields').val())) {

            //    $('#newenResarchFields').focus();
            //}

            if (!isEmptyOrSpaces($('#newarResarchFields').val())) {
                $('#researchdetails').append(text);
                $('#newenResarchFields').val('');
                $('#newarResarchFields').val('');
            }
        }

    })

    function isEmptyOrSpaces(str) {
        return str === null || str.match(/^ *$/) !== null || str.length == 0;
    }

    $('#researchdetails').on('click', '.remove', function () {
        $('#newenResarchFields').val('');
        $('#newarResarchFields').val('');

        $(this).parents('tr').remove();
    });

         function ct() {
            var s = document.getElementById("ex").value;
            if (s == 1) {
                document.getElementById("exist").style.display = "none";
                document.getElementById("new").style.display = "block";
            }
            else if (s==2)
            {
                document.getElementById("new").style.display = "none";
                document.getElementById("exist").style.display = "block";
            }
        }

        function issueversion()
        {
            var x = document.getElementById("product2details").value;
            if (x == "") {
                swal("تحذير","يجب اختيار العدد اولا","warning");
            }
            else {
                //window.location.href = "/IssueOfIssues/Create/" + x;
                var win = window.open("/IssueOfIssues/Create/" + x, "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
                var timer = setInterval(function () {
                    if (win.closed) {
                        clearInterval(timer);
                        location.reload();
                    }
                }, 0);
            }
    }

    function issue() {
        var x = document.getElementById("productdetails").value;
        if (x == "") {
            swal("تحذير", "يجب اختيار المجله اولا", "warning");
        }
        else {

        //window.location.href = "/IssueOfIssues/Create/" + x;
        var win = window.open("/MagazineIssues/Create/" + x, "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
           }
    }

    function addmagazine() {

        //window.location.href = "/IssueOfIssues/Create/" + x;
        var win = window.open("/Magazines/Create", "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
    }

    function addinstitution() {

        var win = window.open("/Institutions/Create", "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
    }

    function addauthor() {

        var win = window.open("/Authors/Create", "", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        var timer = setInterval(function () {
            if (win.closed) {
                clearInterval(timer);
                location.reload();
            }
        }, 0);
    }

        function cs() {
            var x = document.getElementById("source").value;
            if (x == 1) {
                document.getElementById("country1").style.display = "none";
                document.getElementById("country2").style.display = "none";
                document.getElementById("year1").style.display = "none";
                document.getElementById("year2").style.display = "none";
                document.getElementById("p1").style.display = "none";
                document.getElementById("p2").style.display = "none";
                document.getElementById("issue").style.display = "block";
                document.getElementById("article").style.display = "block";
                document.getElementById("book").style.display = "none";
                document.getElementById("conf").style.display = "none";
                document.getElementById("cpn1").style.display = "none";
                document.getElementById("cpn2").style.display = "none";
            }
            else if (x == 2) {
                document.getElementById("country1").style.display = "block";
                document.getElementById("country2").style.display = "block";
                document.getElementById("year1").style.display = "block";
                document.getElementById("year2").style.display = "block";
                document.getElementById("p1").style.display = "block";
                document.getElementById("p2").style.display = "block";
                document.getElementById("issue").style.display = "none";
                document.getElementById("article").style.display = "none";
                document.getElementById("book").style.display = "block";
                document.getElementById("conf").style.display = "none";
                document.getElementById("cpn1").style.display = "none";
                document.getElementById("cpn2").style.display = "none";
            }
            else if (x == 3) {
                document.getElementById("country1").style.display = "block";
                document.getElementById("country2").style.display = "block";
                document.getElementById("year1").style.display = "block";
                document.getElementById("year2").style.display = "block";
                document.getElementById("p1").style.display = "block";
                document.getElementById("p2").style.display = "block";
                document.getElementById("issue").style.display = "none";
                document.getElementById("article").style.display = "none";
                document.getElementById("book").style.display = "none";
                document.getElementById("conf").style.display = "block";
                document.getElementById("cpn1").style.display = "block";
                document.getElementById("cpn2").style.display = "block";
            }


    }

                $('#orderdetailsItemsdetails').on('click', '.remove', function () {
        $(this).parents('tr').remove();
    });

     function removeerror()
    {
         $('#title').siblings('span.error').css('visibility', 'hidden');
    }
    async function save()
        {
        var articleid = document.getElementById("Articleid").value;
            var title = document.getElementById("title").value;
            var pagenew = document.getElementById("pagenew").value;

            var year = document.getElementById("year").value;
            var publisher = document.getElementById("publisher").value;
            var country = document.getElementById("country").value;
            var conferencepublicationname = document.getElementById("cpn").value;
        var issueversion = document.getElementById("product3details").value;
            var articlerefid = document.getElementById("articleref").value;
            var bookrefid = document.getElementById("bookref").value;
            var conferencerefid = document.getElementById("conferenceref").value;

            var validform = true;
            if ($('#title').val() == "") {

                $('#title').siblings('span.error').css('visibility', 'visible');
                validform = false;
        }

            var source = document.getElementById("source").value;
        var exornew = document.getElementById("ex").value;

        if (source == 1) {

            if (exornew == 1) {
                if (validform == true) {
                    if (issueversion == "") {
                        swal("تحذير", "يجب ادخال اصدار العدد!", "warning")
                    }
                    else {
                        if (await SendAuthorsdetails() == true) {
                            $.ajax({
                                data: { articleid: articleid, Articletittle: title, ArticleIssue: issueversion, Page: pagenew },
                                url: "@Url.Action("SaveResourceNewArticle", "Articles")",
                                success: async function (result) {
                                    if (result.success == false) {

                                        swal("فشل!", result.responseText, result.type)
                                    }
                                    else {

                                        await swal("تم", "تمت الاضافه بنجاح!", "success")
                                        location.reload();
                                        //$('#modal').modal('toggle');

                                    }
                                },
                                error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                            });

                        }
                        else {
                            alert("faild");
                        }
                    }
                }
                }
            else if (exornew == 2) {
                if (articleid == articlerefid) {
                    swal("تحذير", "لا يمكن ان يكون نفس المقال هو المصدر!", "warning")
                }
                else {
                    $.ajax({
                        data: { articleid: articleid, articlerefid: articlerefid },
                        url: "@Url.Action("SaveResourceExistArticle", "Articles")",
                        success: async function (result) {
                            if (result.success == false) {


                                swal("فشل!", result.responseText, result.type)
                            }
                            else {

                                await swal("تم", "تمت الاضافه بنجاح!", "success")
                                location.reload();
                                //$('#modal').modal('toggle');

                            }
                        },
                        error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                    });

                }
                }
            }
            else if (source == 2) {
                if (exornew == 1) {
                    if (validform == true) {
                        if (await SendAuthorsdetails() == true) {
                            $.ajax({
                                data: { articleid: articleid, Booktittle: title, Year: year, Country: country, Publisherid: publisher, Page: pagenew },
                                url: "@Url.Action("SaveResourceNewBook", "Articles")",
                                success: async function (result) {
                                    if (result.success == false) {


                                        swal("فشل!", result.responseText, result.type)
                                    }
                                    else {

                                        await swal("تم", "تمت الاضافه بنجاح!", "success")
                                        location.reload();
                                        //$('#modal').modal('toggle');

                                    }
                                },
                                error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                            });

                        }
                        else {
                            alert("faild");
                        }
                    }

                }
                else if (exornew == 2) {
                    $.ajax({
                        data: { articleid: articleid, bookrefid: bookrefid },
                        url: "@Url.Action("SaveResourceExistBook", "Articles")",
                        success: async function (result) {
                            if (result.success == false) {


                                swal("فشل!", result.responseText, result.type)
                            }
                            else {

                                await swal("تم", "تمت الاضافه بنجاح!", "success")
                                location.reload();
                                //$('#modal').modal('toggle');

                            }
                        },
                        error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                    });


                }
            }
            else if (source == 3) {
                if (exornew == 1) {
                    if (validform == true) {
                        if (await SendAuthorsdetails() == true) {
                            $.ajax({
                                data: { articleid: articleid, Conferencetittle: title, Year: year, ConferencePublicationName: conferencepublicationname, Country: country, Publisherid: publisher, Page: pagenew },
                                url: "@Url.Action("SaveResourceNewConference", "Articles")",
                                success: async function (result) {
                                    if (result.success == false) {


                                        swal("فشل!", result.responseText, result.type)
                                    }
                                    else {

                                        await swal("تم", "تمت الاضافه بنجاح!", "success")
                                        location.reload();
                                        //$('#modal').modal('toggle');

                                    }
                                },
                                error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                            });

                        }
                        else {
                            alert("faild");
                        }
                    }
                }
                else if (exornew == 2) {
                    $.ajax({
                        data: { articleid: articleid, conferencerefid: conferencerefid },
                        url: "@Url.Action("SaveResourceExistConference", "Articles")",
                        success: async function (result) {
                            if (result.success == false) {


                                swal("فشل!", result.responseText, result.type)
                            }
                            else {

                                await swal("تم", "تمت الاضافه بنجاح!", "success")
                                location.reload();
                                //$('#modal').modal('toggle');

                            }
                        },
                        error: function (result) { swal("فشل!", "شئ ما تم خطأ", "error") }
                    });


                }
            }



    }

                async function SendAuthorsdetails()
    {
         var things = [];
        $('#orderdetailsItemsdetails  tr').each(function (index, ele) {

                 var articleauthors = {

                     author: parseInt($('.pcdetails', this).val()),
                     main: $('.madetails', this).is(':checked') ? true : false

                 }
                 things.push(articleauthors);

             })



             var data = {
                 articleauthors1: things
                 }

                 return new Promise((resolve, reject) => {
                     $.ajax({
                         type: 'POST',
                         contentType: 'application/json; charset=utf-8',
                         url: "@Url.Action("save", "Articles")",
                         data: JSON.stringify(data),
                         success: function (result) {
                             if (result.success == false) {
                                 reject(result.success);

                             }
                             else {
                                 resolve(result.success)

                             }

                         },
                         error: function () { reject(false); }
                     });
                 });
    }
</script>
}
