@model IEnumerable<Citations.Models.ResearchField>

@{
    ViewData["Title"] = "Index";
}

<h1>مجالات البحث</h1>

<p>
    <a asp-action="Create">إضافة مجال بحث جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Fieldid">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.Fieldid">تفاصيل</a>
                @*<a asp-action="Delete" asp-route-id="@item.Fieldid">ح</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
