@model Citations.Models.Magazine

@{
    ViewData["Title"] = "Details";
}

<h1>تفاصيل</h1>
<h1>@Model.Name</h1>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WebsiteUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImpactFactor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImpactFactor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImmediateCoefficient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImmediateCoefficient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppropriateValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppropriateValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCitations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCitations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Institution.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Institution.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Magazineid">تعديل</a> |
    <a asp-action="Index">العودة للمجلات</a>
</div>
