@*@model Citations.Models.Author



    @{

        SelectList pjs = (SelectList)ViewBag.PositionJobid;



        List<PositionJob> positions = new List<PositionJob>();
        foreach (var item in pjs)
        {
            positions.Add(new PositionJob() { PositionJobid = int.Parse(item.Value), PositionJob1 = item.Text, });
        }
    }

    <div class="row">
        <div class="col-md-6">
            <form asp-action="edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" style="color:red"></div>
                <input type="hidden" asp-for="Authorid" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" style="color:red"></span>
                </div>

                <div class="form-group">
                    <label asp-for="AuthorBio" class="control-label"></label>
                    <input asp-for="AuthorBio" class="form-control" />
                    <span asp-validation-for="AuthorBio" style="color:red"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PointerH" class="control-label"></label>
                    <input asp-for="PointerH" class="form-control" />
                    <span asp-validation-for="PointerH" style="color:red"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="ScannedAuthorimage" class="control-label"></label>
                    <input asp-for="ScannedAuthorimage" class="form-control" type="file" />
                    <span asp-validation-for="ScannedAuthorimage" style="color:red"></span>
                    <img src="/AutherImages/@Model.ScannedAuthorimage" alt="Avatar" id="imgprf" class="img-circle" style="width:100px;height:100px" />

                </div>
                <div class="form-group">
                    <div class="demo">
                        <label class="control-label"> مجالات البحث</label>
                        <select name="ResarchFields" class="form-control" asp-items="ViewBag.Fieldid" multiple style="display:none" required></select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label"> @Html.DisplayName("المؤسسة التعليمية")</label>
                    <div class="inst ">

                    <select class="form-control" asp-items="ViewBag.Institutionid" multiple style="display:none"></select>
                </div>
                    @{
                        IEnumerable<Institution> Institutions = (IEnumerable<Institution>)ViewBag.Institutions;
                        IEnumerable<AuthorsPositionInstitution> autherposithininstitute = (IEnumerable<AuthorsPositionInstitution>)ViewBag.autherposithininstitute;
                        List<AuthorsPositionInstitution> autherposithininstitutelist = autherposithininstitute.ToList();
                    }



                    <table class="table" cellspacing="0" cellpadding="1">
                        <thead>
                            <tr>
                                <th>
                                    الاسم
                                </th>



                                <th>
                                    اختار
                                </th>
                                <th>  المؤسسة الرئيسية</th>
                                <th>  الموقع الوظيفي</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Institutions)
                            {

                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    @{
                                        var editedapi = autherposithininstitutelist.FirstOrDefault(api => api.Institutionid == item.Institutionid);
                                        if (editedapi != null)
                                        {
                                            <td>
                                                <input type="checkbox" name="institutions" id="Chk_@item.Institutionid" checked onchange="checkboxchanged(this)" value="@item.Institutionid" />

                                            </td>
                                            <td>
                                                @if (editedapi.MainIntitute == true)
                                                {

                                                    <input type="radio" name="MainInstitute" checked="checked" id="@item.Institutionid" onchange="radiochang(this)" value="@item.Institutionid" required title="اختر مؤسسة" />

                                                }
                                                else
                                                {

                                                    <input type="radio" name="MainInstitute" id="@item.Institutionid" onchange="radiochang(this)" value="@item.Institutionid" required title="اختر مؤسسة" />

                                                }
                                            </td>
                                            <td>

                                                <select class="form-control" name="positionjob" id="ddl_@item.Institutionid" required="required" title="اختر موقع وظيفي">

                                                    <option value="">أختر</option>
                                                    @foreach (var posjob in pjs)
                                                    {
                                                        if (posjob.Value == editedapi.PositionJobid.ToString())
                                                        {
                                                            <option value="@posjob.Value _inst_@item.Institutionid" selected="selected"> @posjob.Text</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@posjob.Value _inst_@item.Institutionid"> @posjob.Text</option>
                                                        }

                                                    }
                                                </select>



                                            </td>
                                        }




                                        else
                                        {


                                            <td>

                                                <input type="checkbox" name="institutions" id="Chk_@item.Institutionid" onchange="checkboxchanged(this)" value="@item.Institutionid" />


                                            </td>
                                            <td>
                                                <input type="radio" name="MainInstitute" id="@item.Institutionid" onchange="radiochang(this)" value="@item.Institutionid" required title="المؤسسة الرئيسية" />
                                            </td>
                                            <td>

                                                <select class="form-control" name="positionjob" disabled id="ddl_@item.Institutionid" required="required" title="اختر موقع وظيفي">

                                                    <option value="">أختر</option>
                                                    @foreach (var posjob in pjs)
                                                    {
                                                        <option value="@posjob.Value _inst_@item.Institutionid"> @posjob.Text</option>
                                                    }
                                                </select>



                                            </td>
                                        }
                                    }





                                </tr>

                            }
                        </tbody>
                    </table>


                </div>




                <div class="form-group">

                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>





    <link href="~/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css" rel="stylesheet" />

    <script src="~/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js"></script>
    <script>
        function checkboxchanged(c) {
            //alert("ddl_" + c.value);
            if (c.checked == true) {
                document.getElementById("ddl_" + c.value).disabled = false;
                document.getElementById("ddl_" + c.value).required = true;

            }
            if (c.checked == false) {
                document.getElementById("ddl_" + c.value).selectedIndex = 0;
                document.getElementById("ddl_" + c.value).setAttribute("disabled", "true");

            }


        }
        function radiochang(c) {
            document.getElementById("Chk_" + c.value).checked = true;



            var _chks = document.getElementsByTagName("INPUT");
            var _numChks = _chks.length - 1;

            for (var i = 0; i <= _numChks; i++) {
                _type = _chks[i].getAttribute("type");

                if (_type == "checkbox")
                    _chks[i].disabled = false;

            }



            checkboxchanged(c);
            document.getElementById("Chk_" + c.value).setAttribute("disabled", "true");



        }
        $(document).ready(function () {

            $.noConflict();
            $('.table').DataTable({
                //"scrollX": true,
                columnDefs: [
                    {
                        //className: "dt-right", "targets": "_all",
                        // className: 'dt-head-right', targets: "_all",

                    }

                ],
                "scrollY": "200px",
                "scrollCollapse": true,
                "fixedHeader": true,
                "bFilter": false,
                "bPaginate": false,
                "stateSave": true,
                "pagingType": "full_numbers",
                "bInfo": false,
                "oLanguage": {
                    "sSearch": "بحث:"
                }
            });
        })


        $('.demo').dropdown({
            multipleMode: 'label',
            input: '<input type="text" maxLength="20" placeholder="ابحث">',
            searchNoData: '<li style="color:red">No Results</li>',
            includeSelectAllOption: true,
            choice: function (val) {

            },
            minCount: 1,

            minCountErrorMessage: ' Required At least 1 field',



        });
        $('.pos').dropdown({
            multipleMode: 'label',
            input: '<input type="text" maxLength="20" placeholder="ابحث">',
            searchNoData: '<li style="color:red">No Results</li>',
            includeSelectAllOption: true,
            choice: function (val) { },
            minCount: 1,



        });
        $('.inst').dropdown({
            multipleMode: 'label',
            input: '<input type="text" maxLength="20" placeholder="ابحث">',
            searchNoData: '<li style="color:red">No Results</li>',
            includeSelectAllOption: true,
            minCount: 1,
            choice: function (val, aa) {
                //for (var i in val) {
                //    alert(i + "=" + val[i]);
                //}
                if (aa) {

                    if (aa.selected == true) {
                        var div = document.createElement("div");
                        div.setAttribute("id", "divrd_" + aa.id);
                        div.style.display = 'inline-block';
                        var xs = document.createElement("label");

                        xs.setAttribute("name", "radio");
                        xs.setAttribute("value", "1");
                        xs.innerHTML = aa.name;
                        var x = document.createElement("INPUT");
                        x.setAttribute("type", "radio");
                        x.setAttribute("name", "maininstitute");
                        x.setAttribute("value", aa.id);
                        x.setAttribute("id", aa.id);

                        div.appendChild(x);
                        div.appendChild(xs);
                        document.getElementsByClassName("maininstituationtoradio")[0].appendChild(div);

                    }
                    if (aa.selected == false) {
                        document.getElementById("divrd_" + aa.id).remove();

                    }
                }
            },



        });


        function selectedinstitution(selected) {
            alert(selected.options.selectedIndex);
        }
        $('table').on('click', 'tr.parent .fa-chevron-down', function () {
            $(this).closest('tbody').toggleClass('open');
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgprf').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#ScannedAuthorimage").change(function () {
            readURL(this);
        });



    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@



@model Citations.Models.Author



@{

    SelectList pjs = (SelectList)ViewBag.PositionJobid;



    List<PositionJob> positions = new List<PositionJob>();
    foreach (var item in pjs)
    {
        positions.Add(new PositionJob() { PositionJobid = int.Parse(item.Value), PositionJob1 = item.Text, });
    }
}
<h5>تعديل المؤلف</h5>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" style="color:red"></div>
            <input type="hidden" asp-for="Authorid" />
            <div class="row">

                <div class="col-sm-12">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="Name" style="width:100%;" />
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4">
                    <label asp-for="AuthorBio" class="control-label">النبذة المختصرة</label>
                </div>
                <div class="col-sm-12">
                    <textarea asp-for="AuthorBio" rows="3" style="width:100%;"></textarea>
                </div>
                <div class="col-sm-12">
                    <span asp-validation-for="AuthorBio" class="text-danger"></span>
                </div>
            </div>


            <input type="hidden" asp-for="PointerH" />


            <div class="row">
                <div class="form-group col-sm-4">
                    <label  class="control-label">الصورة القديمة</label>
                 <br />
                    <img src="~/AutherImages/@Model.ScannedAuthorimage" alt="Avatar"  class=" mt-4"  style="width:200px;height:100px" />

                </div>

                <div class="form-group col-sm-4">
                    <label asp-for="ScannedAuthorimage" class="control-label">تحميل صورة جديدة</label>
                    <input asp-for="ScannedAuthorimage" class="form-control" type="file" />
                    <span asp-validation-for="ScannedAuthorimage" style="color:red"></span>
                    <img src="/defaultuser.jpg" alt="Avatar" id="imgprf" class="img-circle" style="width:100px;height:100px" />

                </div>

            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <label asp-for="Nationality" class="control-label">البلد</label>
                    <select asp-for="Nationality" class="form-control" asp-items="ViewBag.Nationality"></select>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-sm-4">
                    <label asp-for="Website" class="control-label"></label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Facebook" class="control-label"></label>
                    <input asp-for="Facebook" class="form-control" />
                    <span asp-validation-for="Facebook" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Twitter" class="control-label"></label>
                    <input asp-for="Twitter" class="form-control" />
                    <span asp-validation-for="Twitter" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" type="number" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-8">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>


            </div>

            <div class="form-group">
                <div class="demo">
                    <label class="control-label"> مجالات البحث</label>
                    <select name="ResarchFields" class="form-control" asp-items="ViewBag.Fieldid" multiple style="display:none" required></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">اضافة مجالات بحث  </label>
                <table class="table">
                    <tr>
                        <td> الاسم العربي</td>
                        <td>الاسم الانجليزي</td>


                    </tr>
                    <tr class="researchcontainer" id="researchrow">
                        <td>


                            <input type="text" id="newarResarchFields" class="form-control" />
                        </td>
                        <td>
                            <input type="text" id="newenResarchFields" class="form-control" />
                        </td>
                        <td>
                            <input type="button" id="addResarchFields" class="btn btn-outline-success" value="حفظ" />
                        </td>
                    </tr>
                </table>

            </div>

            <div id="orderItems" class="table-responsive">
                <table class="table table-bordered table-striped mb-0" id="researchdetails"></table>
                <span id="orderItemError" style="color:red"></span>
            </div>

            @*<div class="form-group form-check maininstituationtoradio ">
            <label class="form-check-label">
                 @Html.DisplayName("المؤسسة التعليمية الرئيسية")
            </label>



            <div class="maininstituationtoradio"> </div>
        </div>*@

            @*<div class="inst ">

            <select class="form-control" asp-items="ViewBag.Institutionid" multiple style="display:none"></select>
        </div>*@
            @{
                IEnumerable<Institution> Institutions = (IEnumerable<Institution>)ViewBag.Institutions;
            }



            <!--<table class="table" cellspacing="0" cellpadding="1">
    <thead>
        <tr>
            <th>
                الاسم
            </th>



            <th>
                اختار
            </th>
            <th>  المؤسسة الرئيسية</th>
            <th>  الموقع الوظيفي</th>
            <th>  الكلية</th>
            <th>  القسم</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select asp-items="@ViewBag.Institutionid" class="form-control dropdown-chose-list" name="institutions" onchange="getfaculty(this)">
                    <option value="">Select</option>
                </select>
            </td>



            <td>-->
            @*<input type="checkbox" name="institutions" id="Chk_@item.Institutionid" onchange="checkboxchanged(this)" value="@item.Institutionid" />*@
            <!--</td>
    <td>
        <input type="radio" name="MainInstitute" onchange="radiochang(this)" required title="This field should not be left blank." />
    </td>
    <td>
        <select asp-items="@ViewBag.PositionJobid" class="form-control dropdown-chose-list" name="positionjob">
            <option value="">اختر</option>
        </select>-->
            @*<select class="form-control dropdown-chose-list" name="positionjob" disabled id="ddl_@item.Institutionid" required title="This field should not be left blank.">

            <option value="">أختر</option>
            @foreach (var posjob in pjs)
            {
                <option value="@posjob.Value _inst_@item.Institutionid"> @posjob.Text</option>
            }
        </select>*@



            <!--</td>
    <td>

        <select class="form-control dropdown-chose-list" name="positionjob" id="ddl_Faculty" required title="This field should not be left blank.">

            <option value="">أختر</option>

        </select>



    </td>
    <td>-->
            @*<select class="form-control dropdown-chose-list" name="positionjob" disabled id="ddl_@item.Institutionid" required title="This field should not be left blank.">

            <option value="">أختر</option>
            @foreach (var posjob in pjs)
            {
                <option value="@posjob.Value _inst_@item.Institutionid"> @posjob.Text</option>
            }
        </select>*@



            <!--</td>
    </tr>-->
            @*@foreach (var item in Institutions)
        {

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>



            <td>
                <input type="checkbox" name="institutions" id="Chk_@item.Institutionid" onchange="checkboxchanged(this)" value="@item.Institutionid" />
            </td>
            <td>
                <input type="radio" name="MainInstitute" id="@item.Institutionid" onchange="radiochang(this)" value="@item.Institutionid" required title="This field should not be left blank." />
            </td>
            <td>

                <select class="form-control dropdown-chose-list" name="positionjob" disabled id="ddl_@item.Institutionid" required title="This field should not be left blank.">

                    <option value="">أختر</option>
                    @foreach (var posjob in pjs)
                    {
                        <option value="@posjob.Value _inst_@item.Institutionid"> @posjob.Text</option>
                    }
                </select>



            </td>
            <td>

                <select class="form-control dropdown-chose-list" name="positionjob" disabled id="ddl_@item.Institutionid" required title="This field should not be left blank.">

                    <option value="">أختر</option>
                    @foreach (var posjob in pjs)
                    {
                        <option value="@posjob.Value _inst_@item.Institutionid"> @posjob.Text</option>
                    }
                </select>



            </td>
            <td>

                <select class="form-control dropdown-chose-list" name="positionjob" disabled id="ddl_@item.Institutionid" required title="This field should not be left blank.">

                    <option value="">أختر</option>
                    @foreach (var posjob in pjs)
                    {
                        <option value="@posjob.Value _inst_@item.Institutionid"> @posjob.Text</option>
                    }
                </select>



            </td>
        </tr>

        }*@
            <!--</tbody>
    </table>-->



            <div class="">
                
             
                <div class="details">
                    
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped mb-2">
                            <tr>
                                <td>المؤسسة</td>
                                <td>الرئيسية</td>
                                <td>الكلية</td>
                                <td>القسم</td>
                                <td>الموقع الوظيفي </td>




                            </tr>
                            <tr class="mycontainer" id="mainrow">
                                <td class="text-center">
                                    <select id="Institutions" name="institutions" asp-items="@ViewBag.Institutionid"  class="pc form-control" onchange="LoadFuclty(this)">
                                        <option value="0">اختر المؤسسة</option>
                                    </select>
                                    <span class="error">اختر المؤسسة</span>

                                </td>
                                <td class="text-center">

                                    <input type="radio" class="mi radio" name="MainInstitute" id="MainInstitution" onchange="MainInstitutechange()"  />
                                </td>
                                <td class="text-center">
                                    <select id="Faculty" name="Faculty" class="product form-control"  onchange="LoadDepartment(this)">
                                        <option value="0">اختر الكلية</option>
                                    </select>
                                    <span class="error">اختر الكلية</span>
                                </td>
                                <td class="text-center">
                                    <select id="Department" class="dep form-control" name="Department">
                                        <option value="">اختر القسم</option>
                                    </select>
                                    <span class="error">اختر القسم</span>
                                </td>
                                <td class="text-center">
                                    <select id="Positionjob" asp-items="@ViewBag.PositionJobid"  class="pos form-control" name="positionjob">
                                        <option value="0">اختر الوظيفة</option>
                                    </select>
                                    <span class="error">اختر الوظيفة</span>
                                </td>

                                @*<td>
                                <input type="text" id="rate" class="rate form-control" />
                                <span class="error">Valid rate required</span>
                            </td>*@
                                <td >
                                    <input type="button" id="addinstit" value="اضافه" style="width:80px" class="btn btn-success" />
                                </td>
                            </tr>

                        </table>
                    </div>



                    <div class="table-responsive" id="orderItems">


                        <table class="table table-bordered table-striped mb-2" id="AuthposItems" width="100%">
                            @{ IEnumerable<AuthorsPositionInstitution> autherposithininstitute = (IEnumerable<AuthorsPositionInstitution>)ViewBag.autherposithininstitute;
                                List<AuthorsPositionInstitution> autherposithininstitutelist = autherposithininstitute.ToList();}
                            @foreach (var item in autherposithininstitutelist)
                            {
                                string id = item.FacultyInstitutionDepartment.FacultyInstitution.Institution.Institutionid + "_" +
                                                                   item.FacultyInstitutionDepartment.FacultyInstitution.Faculty.Facultyid + "_" +
                                                                  item.FacultyInstitutionDepartment.Department.Departmentid + "_" +
                                                                  +item.PositionJob.PositionJobid;
                                <tr class="mycontainer" id="@id">

                                    <td width="20%">
                                        <span class="pc form-group">

                                            @Html.DisplayFor(model => item.FacultyInstitutionDepartment.FacultyInstitution.Institution.Name)

                                            <input type="hidden" name="institutions" value="@item.FacultyInstitutionDepartment.FacultyInstitution.Institution.Institutionid" />

                                        </span>
                                    </td>
                                    <td>
                                        @if (item.MainIntitute == true)
                                        {
                                            <input type="radio" class="mi radio" name="MainInstitute" id="MainInstitution" checked="checked" onchange="MainInstitutechange()" value="@item.FacultyInstitutionDepartment.FacultyInstitution.Institution.Institutionid"  />
                                        }
                                        else
                                        {
                                            <input type="radio" class="mi radio" name="MainInstitute" id="MainInstitution" value="@item.FacultyInstitutionDepartment.FacultyInstitution.Institution.Institutionid" />
                                        }
                                    </td>
                                    <td class="product form-group" width="25%">
                                        <span class="product form-group">
                                            @Html.DisplayFor(model => item.FacultyInstitutionDepartment.FacultyInstitution.Faculty.Name)
                                            <input type="hidden" name="Faculty" value="@item.FacultyInstitutionDepartment.FacultyInstitution.Faculty.Facultyid" />
                                        </span>
                                    </td>

                                    <td width="20%">
                                        <span class="dep form-group">
                                            @Html.DisplayFor(model => item.FacultyInstitutionDepartment.Department.Name)
                                            <input type="hidden" name="Department" value="@item.FacultyInstitutionDepartment.Department.Departmentid" />

                                        </span>
                                    </td>

                                    <td width="20%">
                                        <span class="product form-group">
                                            @Html.DisplayFor(model => item.PositionJob.PositionJob1)
                                            <input type="hidden" name="positionjob" value="@item.PositionJob.PositionJobid" />
                                        </span>
                                    </td>
                                    <td width="20%">
                                        <input type="button" id="remove" value="حذف" style="width:80px" class="remove btn btn-danger" />
                                    </td>
                                </tr>



                            }

                        </table>
                        <span id="orderItemError" style="color:red"></span>
                    </div>

                </div>
            </div>

            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
            @*<script src="~/js/myScripts.js"></script>*@
            <script type="text/javascript">

            </script>
            <style>
                span.error {
                    display: block;
                    visibility: hidden;
                    color: red;
                    font-size: 90%;
                }

                tr.error {
                    background-color: rgba(255,0,0,0.35);
                }
            </style>


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>

            <div class="form-group">

                <input type="submit" id="btnsubmit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">الرجوع الي القائمة</a>
</div>



<script src="~/js/ShamsScripts.js"></script>

<link href="~/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.css" rel="stylesheet" />

<script src="~/Searchable-Multi-select-jQuery-Dropdown/jquery.dropdown.js"></script>
<script>
    function checkboxchanged(c) {
        //alert("ddl_" + c.value);
        if (c.checked == true) {
            document.getElementById("ddl_" + c.value).disabled = false;
            document.getElementById("ddl_" + c.value).required = true;

        }
        if (c.checked == false) {
            document.getElementById("ddl_" + c.value).selectedIndex = 0;
            document.getElementById("ddl_" + c.value).setAttribute("disabled", "true");

        }


    }
    function radiochang(c) {
        document.getElementById("Chk_" + c.value).checked = true;



        var _chks = document.getElementsByTagName("INPUT");
        var _numChks = _chks.length - 1;

        for (var i = 0; i <= _numChks; i++) {
            _type = _chks[i].getAttribute("type");

            if (_type == "checkbox")
                _chks[i].disabled = false;

        }



        checkboxchanged(c);
        document.getElementById("Chk_" + c.value).setAttribute("disabled", "true");



    }
    $(document).ready(function () {

        //$.noConflict();
        //$('.table').DataTable({
        //    //"scrollX": true,
        //    columnDefs: [
        //        {
        //            //className: "dt-right", "targets": "_all",
        //            // className: 'dt-head-right', targets: "_all",

        //        }

        //    ],
        //    "scrollY": "200px",
        //    "scrollCollapse": true,
        //    "fixedHeader": true,
        //    "bFilter": false,
        //    "bPaginate": false,
        //    "stateSave": true,
        //    "pagingType": "full_numbers",
        //    "bInfo": false,
        //    "oLanguage": {
        //        "sSearch": "بحث:"
        //    }
        //});
    })


    $('.demo').dropdown({
        multipleMode: 'label',
        input: '<input type="text" maxLength="20" placeholder="ابحث">',
        searchNoData: '<li style="color:red">No Results</li>',
        includeSelectAllOption: true,
        choice: function (val) {

        },
        minCount: 1,

        minCountErrorMessage: ' Required At least 1 field',



    });
    $('.poss').dropdown({
        multipleMode: 'label',
        input: '<input type="text" maxLength="20" placeholder="ابحث">',
        searchNoData: '<li style="color:red">No Results</li>',
        includeSelectAllOption: true,
        choice: function (val) { },
        minCount: 1,



    });
    $('.inst').dropdown({
        multipleMode: 'label',
        input: '<input type="text" maxLength="20" placeholder="ابحث">',
        searchNoData: '<li style="color:red">No Results</li>',
        includeSelectAllOption: true,
        minCount: 1,
        choice: function (val, aa) {
            //for (var i in val) {
            //    alert(i + "=" + val[i]);
            //}
            if (aa) {

                if (aa.selected == true) {
                    var div = document.createElement("div");
                    div.setAttribute("id", "divrd_" + aa.id);
                    div.style.display = 'inline-block';
                    var xs = document.createElement("label");

                    xs.setAttribute("name", "radio");
                    xs.setAttribute("value", "1");
                    xs.innerHTML = aa.name;
                    var x = document.createElement("INPUT");
                    x.setAttribute("type", "radio");
                    x.setAttribute("name", "maininstitute");
                    x.setAttribute("value", aa.id);
                    x.setAttribute("id", aa.id);

                    div.appendChild(x);
                    div.appendChild(xs);
                    document.getElementsByClassName("maininstituationtoradio")[0].appendChild(div);

                }
                if (aa.selected == false) {
                    document.getElementById("divrd_" + aa.id).remove();

                }
            }
        },



    });


    function selectedinstitution(selected) {
        alert(selected.options.selectedIndex);
    }
    $('table').on('click', 'tr.parent .fa-chevron-down', function () {
        $(this).closest('tbody').toggleClass('open');
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgprf').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#ScannedAuthorimage").change(function () {
        readURL(this);
    });



    function MainInstitutechange() {




    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        var facs = [];
        function getfaculty(inst) {
            var $ = jQuery;
            var instid = inst.options[inst.selectedIndex].value;
            if (instid) {
                $.ajax({

                    type: 'get',
                    url: '/Authors/GetFuclty?instid=' + instid,

                    contentType: 'application/json',
                    datatype: "json",
                    success: function (response) {
                        facs = response;





                        Swal({
                            title: "Deleted",
                            text: "Done!",
                            type: 'success'
                        })

                    },
                    error: function (err, result) {
                        alert("Error in delete" + err.responseText);
                    }
                })

            }

        }

        $(document).ready(function () {

            $("#Institutions").select2();
            $("#Faculty").select2();
            $("#Department").select2();
            $("#Positionjob").select2();

        });
    </script>
}
