@model Citations.Models.Institution
@{
    ViewData["Title"] = "Index";
    Layout = "_MainLayout";
}
<script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>


<style>
    #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .anychart-credits {
        display: none;
    }

    body {
        margin-top: auto;
        background-color: #f1f1f1;
    }

    .border {
        border-bottom: 1px solid #F1F1F1;
        margin-bottom: 10px;
    }

    .main-secction {
        box-shadow: 10px 10px 10px;
    }

    .image-section {
        padding: 0px;
    }

        .image-section img {
            width: 100%;
            height: 250px;
            position: relative;
        }

    .user-image {
        position: absolute;
        margin-top: -50px;
    }

    .user-left-part {
        margin: 0px;
    }

    .user-image img {
        width: 100px;
        height: 100px;
    }

    .user-profil-part {
        padding-bottom: 30px;
        background-color: #FAFAFA;
    }

    .follow {
        margin-top: 70px;
    }

    .user-detail-row {
        margin: 0px;
    }

    .user-detail-section2 p {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
    }

    .user-detail-section2 {
        margin-top: 10px;
    }

        .user-detail-section2 span {
            color: #7CBBC3;
            font-size: 20px;
        }

        .user-detail-section2 small {
            font-size: 12px;
            color: #D3A86A;
        }

    .profile-right-section {
        padding: 20px 0px 10px 15px;
        background-color: #FFFFFF;
    }

    .profile-right-section-row {
        margin: 0px;
    }

    .profile-header-section1 h1 {
        font-size: 25px;
        margin: 0px;
    }

    .profile-header-section1 h5 {
        color: #0062cc;
    }

    .req-btn {
        height: 30px;
        font-size: 12px;
    }

    .profile-tag {
        padding: 10px;
        border: 1px solid #F6F6F6;
    }

        .profile-tag p {
            font-size: 12px;
            color: black;
        }

        .profile-tag i {
            color: #ADADAD;
            font-size: 20px;
        }

    .image-right-part {
        background-color: #FCFCFC;
        margin: 0px;
        padding: 5px;
    }

    .img-main-rightPart {
        background-color: #FCFCFC;
        margin-top: auto;
    }

    .image-right-detail {
        padding: 0px;
    }

        .image-right-detail p {
            font-size: 12px;
        }

        .image-right-detail a:hover {
            text-decoration: none;
        }

    .image-right img {
        width: 100%;
    }

    .image-right-detail-section2 {
        margin: 0px;
    }

        .image-right-detail-section2 p {
            color: #38ACDF;
            margin: 0px;
        }

        .image-right-detail-section2 span {
            color: #7F7F7F;
        }
</style>

<div class="container main-secction mt-2">
    <div class="row" style="background-color:white">
        <div class="col-md-12 col-sm-12 col-xs-12 image-section">
            @if (Model.ScannedCoverImage == null)
            {
                <img src="~/images/cover.jpg" />
            }
            else
            {
                <img src="~/images/@Model.ScannedCoverImage" />
            }
        </div>
        <div class="row col-sm-12 user-left-part">
            <div class="col-md-2 col-sm-2 col-xs-12 user-profil-part pull-left">
                <div class="row ">
                    <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                        @if (Model.ScannedLogoImage == null)
                        {
                            <img src="~/images/logo.png" />
                        }
                        else
                        {
                            <img src="~/images/@Model.ScannedLogoImage" />
                        }
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                        <h1 class="btn btn-success btn-block follow">@Model.Name</h1>

                    </div>
                    <div class="row user-detail-row">
                        <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                            <div class="border"></div>
                            <h5>عدد المؤلفين</h5>
                            <h5>@ViewBag.numberofauthor</h5>
                            <h6 class="bg-warning p-2">@Model.TypeOfInstitutionNavigation.TypeName</h6>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 pull-right profile-right-section">
                <div class="row profile-right-section-row">

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-info-circle" style="color:blue;"></i> معلومات عن المؤسسه</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">  <i class="fas fa-book" style="color:greenyellow;"></i> المجلات</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>البلد</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@Model.CountryNavigation.Name</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>المؤشر H</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p> @ViewBag.PointerH </p>
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>معامل التأثير العربي</p>
                                            </div>
                                            <div class="col-md-6">

                                                <p>@ViewBag.ImpactFactor</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>متوسط معامل التأثير العربي </p>
                                            </div>
                                            <div class="col-md-6">

                                                <p>@ViewBag.impactfactorrange</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>عدد الاستشهادات</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>   @ViewBag.numberofcitations</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>عدد المقالات</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@ViewBag.numberofarticles </p>
                                            </div>
                                        </div>


                                    </div>
                                    <div role="tabpanel" class="tab-pane fade text-right" id="buzz">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>عدد المجلات</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>@Model.Magazines.Count</p>
                                            </div>
                                        </div>
                                        <hr />
                                        @foreach (var item in Model.Magazines)
                                        {
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <a asp-controller="MagazineForUser" asp-action="Details" asp-route-id="@item.Magazineid"> <h5> @item.Name</h5> </a>
                                                </div>

                                            </div>
                                        }
                                        @*<div class="row">
                                                <div class="col-sm-12">
                                                    <label>المجلة العلمية، العلوم الإنسانية والإدارية</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>	مجلة كلية التربية</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>	مجلة العلوم الاساسية والتطبيقية</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>المجلة العلمية بجامعة القاهره</label>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>	مجلة العلوم العلوم الإنسانية والإدارية</label>
                                                </div>

                                            </div>*@
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 mt-3  col-xs-12 pull-right profile-right-section">
                <div id="container" ></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        anychart.onDocumentReady(function () {

            // set the data
            var data = {
                header: ["Name", "عدد الاستشهادات"],
                rows: [
                    [@ViewBag.ciname1,@ViewBag.ci1],
                    [@ViewBag.ciname2,@ViewBag.ci2],
                    [@ViewBag.ciname3,@ViewBag.ci3],
                    [@ViewBag.ciname4,@ViewBag.ci4],
                    [@ViewBag.ciname5,@ViewBag.ci5]
              
                ]
            };

            // create the chart
            var chart = anychart.column();

            // add data
            chart.data(data);

            // set the chart title
            chart.title("عدد الاستشهادات اخر خمس سنوات");

            // draw
            chart.container("container");
            chart.draw();


        });

    </script>

}
